{"openapi":"3.0.1","info":{"title":"SIC Status API v1","description":"The SIC status API provides information about the current status of the electronic payment services provided by SIX Interbank Clearing Ltd. The information in the status API shows live data.","contact":{"url":"https://www.six-group.com/de/products-services/banking-services/interbank-clearing/online-services/system-status.html","email":"contact.sic@six-group.com"},"version":"1.0 (generated 2024-06-27T11:51:13Z)"},"servers":[{"url":"https://api.six-group.com/api/sic/pci_p/status/v1"},{"url":"https://api.p2p.six-group.com/api/sic/pci_p/status/v1"},{"url":"https://api.fip.six-group.com/api/sic/pci_p/status/v1"}],"tags":[{"name":"status","description":"**SIC Status**\nInformation about about the status of various services can be found here.\n"},{"name":"healthcheck","description":"**System Healthcheck**\nThis allows to check the basic state of the system (can it be reached, does it respond).\n"}],"paths":{"/servicestatus":{"get":{"tags":["status"],"summary":"GET Status in JSON Format","description":"Returns the service status data of the SIC service as a JSON object.","operationId":"getServiceStatusJson","responses":{"200":{"description":"Service status in JSON format","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ServiceStatusResponseEntry"}}}}}},"head":{"tags":["status"],"summary":"HEAD Status in JSON Format","description":"Service status data of the SIC service in JSON format (only head, no content).","operationId":"headServiceStatusJson","responses":{"200":{"description":"Content can be downloaded with GET method.","content":{}}}}},"/healthcheck":{"get":{"tags":["healthcheck"],"summary":"GET Health Check","description":"Returns a status message of the system.","operationId":"getHealthCheckForGet","responses":{"200":{"description":"Healthcheck successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthCheckResponse"}}}}}},"head":{"tags":["healthcheck"],"summary":"HEAD Health Check","description":"Returns a status message of the system (only head, no content).","operationId":"headHealthCheckForGet","responses":{"200":{"description":"Content can be downloaded with GET method.","content":{}}}}}},"components":{"schemas":{"ServiceStatusResponseEntry":{"required":["serviceIdentification","status","timestamp"],"type":"object","properties":{"serviceIdentification":{"maxLength":10,"minLength":1,"type":"string","description":"Values for Production Services: PCI_P \nValues for Test environments:\n- SIC IP service: XCI_E; ACI_E; XCI_P; ACI_P; VCI_E; VCI_P\n","example":"PCI_P"},"status":{"maxLength":20,"minLength":2,"type":"string","description":"Status information for the service is either UP or DOWN or UNKNOWN.","example":"UP"},"timestamp":{"type":"string","description":"Date and time (according to ISO 8601) at which this status data was last checked.","format":"date-time","example":"2024-12-21T10:52:05.1904957+01:00"}},"description":"Status data for one service."},"HealthCheckResponse":{"required":["apiVersion","applicationVersion","environmentStage","message","receivedHeaders","requestDateTime"],"type":"object","properties":{"message":{"maxLength":100,"type":"string","description":"Response message from health check.","example":"The health check GET request was successfully received and processed."},"requestDateTime":{"type":"string","description":"According to RFC3339, section 5.6 in ISO 8601 with timezone and milliseconds.","format":"date-time","example":"2024-12-21T10:52:05.1904957+01:00"},"receivedHeaders":{"type":"array","items":{"type":"object","properties":{"headerName":{"type":"string","description":"The name of the provided header.","example":"Accept"},"headerValue":{"type":"string","description":"As received","example":"application/json"}}}},"environmentStage":{"type":"string","description":"The instance to which the request was sent to.","example":"X1"},"applicationVersion":{"type":"string","description":"The version of the API backend.","example":"4.5.0-julia"},"apiVersion":{"type":"string","description":"The version of the API.","example":"1.0.23"}}}}},"x-original-swagger-version":"2.0"}