openapi: 3.1.0
info:
  title: 'debiX Auth Provider API: Provider-to-SIX 3DS API'
  version: 2.1.9
  description: Callback API used by the Authentication Provider and implemented by SIX / debiX
servers:
- url: https://api.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - P2P
tags:
- name: 3DS
  description: 3DS lifecycle, 3DS details, OTRC order.
paths:
  /cards/{cardToken}/3ds:
    post:
      tags:
      - 3DS
      summary: Registers the card for 3DS.
      description: 'If a card with the provided card data is not yet registered for 3DS, the registration will take place.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4434 - THREE_DS_NOT_ENABLED_FOR_ISSUER

        * 4435 - CARD_ALREADY_REGISTERED_FOR_THREE_DS

        * 4436 - CARD_INACTIVE

        * 4453 - THREE_DS_OOB_NOT_ENABLED_FOR_ISSUER

        * 4467 - THREE_DS_PASSWORD_NOT_ALLOWED

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: threeDsRegister
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      - in: path
        name: cardToken
        description: Card token
        required: true
        schema:
          $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Card identifier and 3DS-related data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsRegisterRequest'
        required: true
      responses:
        '204':
          description: The card was successfully registered for 3DS.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    put:
      tags:
      - 3DS
      summary: Updates the 3DS data.
      description: 'If the request contains new information, the 3DS data will be updated for the given card.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4434 - THREE_DS_NOT_ENABLED_FOR_ISSUER

        * 4453 - THREE_DS_OOB_NOT_ENABLED_FOR_ISSUER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: threeDsUpdate
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      - in: path
        name: cardToken
        description: Card token
        required: true
        schema:
          $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Contains 3DS-related data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsUpdateRequest'
        required: true
      responses:
        '204':
          description: The request was successfully processed.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    delete:
      tags:
      - 3DS
      summary: Deregisters the given card from 3DS and deletes the corresponding data.
      description: 'If a card with the provided identifier is known to debiX, it will be deregistered from 3DS and the corresponding data deleted.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: threeDsDelete
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      - in: path
        name: cardToken
        description: Card token
        required: true
        schema:
          $ref: '#/components/schemas/CardToken'
      responses:
        '204':
          description: The request was successfully processed.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/3ds/details:
    post:
      tags:
      - 3DS
      summary: Returns the 3DS details for the given card.
      description: 'Returns the details for the current 3DS registration.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4457 - CARD_NOT_REGISTERED_FOR_THREE_DS

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: threeDsDetails
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      - in: path
        name: cardToken
        description: Card token
        required: true
        schema:
          $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Identifier of the card for which to return the 3DS details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsDetailsRequest'
      responses:
        '200':
          description: The 3DS details were successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDsDetailsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/otrc:
    get:
      tags:
      - 3DS
      summary: Orders an online One-Time-Registration-Code (OTRC).
      description: 'Get an online One-Time-Registration-Code (OTRC) for the given card.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: otrcOrder
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      - in: path
        name: cardToken
        description: Card token
        required: true
        schema:
          $ref: '#/components/schemas/CardToken'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtrcOrderResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/otrc-datamailer:
    post:
      tags:
      - 3DS
      summary: Orders an One-Time-Registration-Code (OTRC) via datamailer.
      description: 'Get a datamailer with the One-Time-Registration-Code (OTRC) for the specified card.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: otrcOrderDatamailer
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      - in: path
        name: cardToken
        description: Card token
        required: true
        schema:
          $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Details of the OTRC datamailer.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtrcDatamailerOrderRequest'
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/3ds:
    post:
      tags:
      - 3DS
      summary: Registers the card for 3DS.
      description: 'Deprecated, use `POST /debix/bank/cardtoken/v2/cards/{cardToken}/3ds` instead.


        If a card with the provided card data is not yet registered for 3DS, the registration will take place.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4434 - THREE_DS_NOT_ENABLED_FOR_ISSUER

        * 4435 - CARD_ALREADY_REGISTERED_FOR_THREE_DS

        * 4436 - CARD_INACTIVE

        * 4453 - THREE_DS_OOB_NOT_ENABLED_FOR_ISSUER

        * 4467 - THREE_DS_PASSWORD_NOT_ALLOWED

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: threeDsRegister
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Card and 3DS-related data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsRegisterRequest_2'
        required: true
      responses:
        '204':
          description: The card was successfully registered for 3DS.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    put:
      tags:
      - 3DS
      summary: Updates the 3DS data.
      description: 'Deprecated, use `PUT /debix/bank/cardtoken/v2/cards/{cardToken}/3ds` instead.


        If the request contains new information, the 3DS data will be updated for the given card.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4434 - THREE_DS_NOT_ENABLED_FOR_ISSUER

        * 4453 - THREE_DS_OOB_NOT_ENABLED_FOR_ISSUER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: threeDsUpdate
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Card and 3DS-related data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsUpdateRequest_2'
        required: true
      responses:
        '204':
          description: The request was successfully processed.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/3ds/delete:
    post:
      tags:
      - 3DS
      summary: Deregisters a card from 3DS and deletes the corresponding data.
      description: 'Deprecated, use `DELETE /debix/bank/cardtoken/v2/cards/{cardToken}/3ds` instead.


        If a card with the provided identifier is known to debiX, it will be deregistered from 3DS and the corresponding data deleted.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: threeDsDelete
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Identifier of the card to be deregistered from 3DS.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsDeleteRequest'
        required: true
      responses:
        '204':
          description: The request was successfully processed.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/3ds/details:
    post:
      tags:
      - 3DS
      summary: Returns the 3DS details for this card.
      description: 'Deprecated, use `POST /debix/bank/cardtoken/v2/cards/{cardToken}/3ds/details` instead.


        Returns the details for the current 3DS registration.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4457 - CARD_NOT_REGISTERED_FOR_THREE_DS

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: threeDsDetails
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Identifier of the card for which to return the 3DS details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsDetailsRequest_2'
      responses:
        '200':
          description: The 3DS details were successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDsDetailsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/otrc:
    post:
      tags:
      - 3DS
      summary: Orders an online One-Time-Registration-Code (OTRC).
      description: 'Deprecated, use `GET /debix/bank/cardtoken/v2/cards/{cardToken}/otrc` instead.


        Get an online One-Time-Registration-Code (OTRC) for the specified card.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: otrcOrder
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Identifier of the card for which the OTRC will be ordered.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtrcOrderRequest'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtrcOrderResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/otrc-datamailer:
    post:
      tags:
      - 3DS
      summary: Orders an One-Time-Registration-Code (OTRC) via datamailer.
      description: 'Deprecated, use `GET /debix/bank/cardtoken/v2/cards/{cardToken}/otrc-datamailer` instead.


        Get a datamailer with the One-Time-Registration-Code (OTRC) for the specified card.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD

        '
      operationId: otrcOrderDatamailer
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Details of the OTRC datamailer.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtrcDatamailerOrderRequest_2'
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
components:
  schemas:
    ErrorDetail:
      type: object
      required:
      - errorCode
      properties:
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          examples:
          - 42
        description:
          description: The message describing the error.
          type: string
          examples:
          - The answer to the great question of Life, the Universe and Everything.
    CardSequenceNumber:
      description: Sequence number of the card.
      type: integer
      format: int32
      minimum: 0
      maximum: 9
      examples:
      - 2
    BankClearingNumber:
      description: Unique number used to identify each bank agency or branch in the bank directory.
      type: integer
      format: int32
      minimum: 100
      maximum: 99999
      examples:
      - 50000
    MailerTextCode:
      description: Reference to a predefined text container that will be printed on the datamailer.
      type: integer
      format: int32
    ThreeDsData:
      description: Relevant data to register a card for 3DS with a specific authentication method based on the setup desired by the issuer (i.e. for 3DS via SIX SDK or 3DS OOB).
      type: object
      required:
      - language
      - authenticationMethod
      properties:
        userId:
          description: 'Identifier assigned to a particular user by the issuer. Note: userId is a mandatory parameter when registering a card with authentication method PIN, BIOMETRIC or BIOMETRIC_WITH_PIN_FALLBACK.'
          type: string
          minLength: 1
          examples:
          - '2345872'
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
        language:
          $ref: '#/components/schemas/Language'
        authId:
          $ref: '#/components/schemas/AuthId'
        authenticationMethod:
          $ref: '#/components/schemas/AuthenticationMethod'
        biometricType:
          $ref: '#/components/schemas/BiometricType'
        pinCode:
          $ref: '#/components/schemas/PinCode'
        password:
          $ref: '#/components/schemas/Password'
    ThreeDsDetailsResponse:
      description: Contains detailed information about 3DS.
      type: object
      required:
      - language
      - threeDsStatus
      properties:
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
        language:
          $ref: '#/components/schemas/Language'
        userId:
          description: Identifier assigned to a particular user by the issuer.
          type: string
          minLength: 1
          examples:
          - '2345872'
        threeDsStatus:
          description: Describes if the card is active for 3DS. Will be inactive if the card is blocked or e-commerce is disabled.
          type: string
          enum:
          - ACTIVE
          - INACTIVE
          examples:
          - ACTIVE
        threeDsRegistrationDateTime:
          description: Date and time of the 3DS registration.
          type: string
          format: date-time
          examples:
          - '2021-10-03T16:03:09.101+02:00'
        smsFallback:
          description: Shows if SMS Fallback is active for the issuer.
          type: boolean
          examples:
          - true
        authenticationMethod:
          $ref: '#/components/schemas/ThreeDsAuthenticationMethod'
        otrcStatus:
          description: Shows the OTRC status
          type: string
          enum:
          - DISABLED
          - ENABLED
          - LOCKED
          examples:
          - DISABLED
        otrcValidity:
          description: Date and time of the OTRC expiry.
          type: string
          format: date-time
          examples:
          - '2021-10-03T16:03:09.101+02:00'
    AuthId:
      description: 'Identifier for the device used for 3DS. Note: authId is a mandatory parameter which must be provided when registering a card with authentication method PIN, BIOMETRIC, BIOMETRIC_WITH_PIN_FALLBACK or DELEGATED.'
      type: string
      minLength: 1
      maxLength: 36
      examples:
      - '480463608'
    ThreeDsDetailsRequest:
      description: Identifiers of the card for which to return the 3DS details.
      type: object
      required:
      - cardTokenExtension
      properties:
        cardTokenExtension:
          $ref: '#/components/schemas/CardTokenExtension'
    AuthenticationMethod:
      description: User authentication method. For 3DS Out-of-Band (OOB), authentication method DELEGATED must be selected.
      type: string
      enum:
      - PIN
      - BIOMETRIC
      - BIOMETRIC_WITH_PIN_FALLBACK
      - DELEGATED
      - SMS_ONLY
      - NONE
    YearMonth:
      type: object
      required:
      - month
      - year
      properties:
        month:
          description: The two digit number of the month starting at 01 for January.
          type: string
          examples:
          - '01'
        year:
          description: The last two digits of the year.
          type: string
          examples:
          - '21'
    ThreeDsRegisterRequest_2:
      description: Contains the card identifier and 3DS-related data for the registration of a card.
      type: object
      required:
      - cardId
      - threeDsData
      properties:
        cardId:
          $ref: '#/components/schemas/CardId'
        threeDsData:
          $ref: '#/components/schemas/ThreeDsData'
    CardType:
      description: 'A single digit that distinguishes the card types of the schemes.

        - 1: Debit mastercard

        - 3: Visa debit

        - 6: Bank card'
      type: integer
      format: int32
      minimum: 1
      maximum: 6
    DatamailerDeliveryDestination:
      description: Specifies the delivery destination for OTRC, PIN, and card datamailer.
      type: string
      enum:
      - DELIVER_TO_BANK
      - DELIVER_TO_CARDHOLDER
    CardId:
      description: Complex object representing a card consisting of bank clearing number, card number, card type, card sequence number and card expiry.
      type: object
      required:
      - bankClearingNumber
      - cardNumber
      - cardType
      - cardSeqNumber
      - cardExpiry
      properties:
        bankClearingNumber:
          $ref: '#/components/schemas/BankClearingNumber'
        cardNumber:
          $ref: '#/components/schemas/CardNumber'
        cardType:
          $ref: '#/components/schemas/CardType'
        cardSeqNumber:
          $ref: '#/components/schemas/CardSeqNumber'
        cardExpiry:
          $ref: '#/components/schemas/YearMonth'
    ThreeDsUpdateRequest:
      description: Contains the 3DS-related data to be updated.
      type: object
      required:
      - threeDsData
      properties:
        threeDsData:
          $ref: '#/components/schemas/PartialThreeDsData'
    ThreeDsUpdateRequest_2:
      description: Contains the card identifier, as well as 3DS-related data to be updated.
      type: object
      required:
      - shortCardId
      - threeDsData
      properties:
        shortCardId:
          $ref: '#/components/schemas/ShortCardId'
        threeDsData:
          $ref: '#/components/schemas/PartialThreeDsData'
    DatamailerExpressCode:
      description: Defines the express code of OTRC and PIN datamailer delivery.
      type: string
      enum:
      - A_POST
      - B_POST
      - REGISTERED
      default: A_POST
    CardSeqNumber:
      description: Sequence number of the card.
      type: integer
      format: int32
      minimum: 0
      maximum: 9
      examples:
      - 2
    CardNumber:
      description: Card number of the card.
      type: integer
      format: int32
      minimum: 1
      maximum: 99999999
      examples:
      - 12345678
    OtrcOrderResponse:
      description: Contains the OTRC information.
      type: object
      required:
      - otrc
      - otrcExpirationDateTime
      properties:
        otrc:
          description: Value of the OTRC.
          type: integer
        otrcExpirationDateTime:
          description: Date and time when the OTRC will expire.
          type: string
          format: date-time
          examples:
          - '2024-10-03T16:03:09.101+02:00'
    BankApiError:
      description: Information about an error on API requests.
      type: object
      required:
      - applicationError
      - errorCode
      properties:
        applicationError:
          description: The name of the application error.
          type: string
          examples:
          - OPERATION_FAILED
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          examples:
          - 5001
        description:
          description: A human readable explanation specific to this occurrence of the problem.
          type: string
          examples:
          - The requested operation failed.
        errors:
          description: List of error details.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ErrorDetail'
        errorToken:
          description: A generated error token referencing the actual error and logged on the server.
          type: string
          examples:
          - 618503aa-7beb-4d3d-986e-36f1fdbd0e13
    PinCode:
      description: PIN code used for 3DS authentication; required for authentication method PIN and BIOMETRIC_WITH_PIN_FALLBACK.
      type: string
      minLength: 1
      examples:
      - '12345'
    ThreeDsDeleteRequest:
      description: Contains the card identifier to perform a 3DS deregistration.
      type: object
      required:
      - shortCardId
      properties:
        shortCardId:
          $ref: '#/components/schemas/ShortCardId'
    ThreeDsDetailsRequest_2:
      description: Identifier of the card for which to return the 3DS details.
      type: object
      required:
      - cardId
      properties:
        cardId:
          $ref: '#/components/schemas/CardId'
    OtrcOrderRequest:
      description: Contains the card identifier to order an OTRC.
      type: object
      required:
      - shortCardId
      properties:
        shortCardId:
          $ref: '#/components/schemas/ShortCardId'
    CardToken:
      description: Unique card token of a card.
      type: string
      pattern: ^CTK-[0-9a-fA-F]{32}$
      minLength: 36
      maxLength: 36
      examples:
      - CTK-54716A6080B14CF19CEA3C170F85B1DD
    PhoneNumber:
      description: 'Mobile or landline phone number. Note: phoneNumber is a mandatory parameter which must be provided to register a card with authentication method SMS_ONLY, PIN, BIOMETRIC or BIOMETRIC_WITH_PIN_FALLBACK. Furthermore, phoneNumber must also be provided in case the issuer desires to register a card for DELEGATED as primary authentication method, with additionally SMS as fallback (as secondary authentication method).  For issuers with special regulations (e.g. PSD2), please refer to the additional indications provided under the “password” field.'
      type: string
      pattern: ^([+]|00)[1-9][0-9]{8,18}$
      examples:
      - '+41797778899'
    UnstructuredAddress:
      description: Unstructured address of simple address lines.
      type: array
      minItems: 1
      maxItems: 6
      items:
        type: string
        maxLength: 35
      examples:
      - - Peter Schweizer
        - Bahnhofstrasse 1
        - 8000 Zürich
    Language:
      description: Correspondence language.
      type: string
      enum:
      - DE
      - FR
      - IT
      - EN
    ShortCardId:
      description: Complex object representing a card consisting of bank clearing number, card number and card type.
      type: object
      required:
      - bankClearingNumber
      - cardNumber
      - cardType
      properties:
        bankClearingNumber:
          $ref: '#/components/schemas/BankClearingNumber'
        cardNumber:
          $ref: '#/components/schemas/CardNumber'
        cardType:
          $ref: '#/components/schemas/CardType'
    OtrcDatamailerOrderRequest_2:
      description: Details of the OTRC datamailer order request.
      type: object
      required:
      - shortCardId
      - delivery
      - expressCode
      properties:
        shortCardId:
          $ref: '#/components/schemas/ShortCardId'
        delivery:
          description: Delivery destination of the OTRC datamailer.
          $ref: '#/components/schemas/DatamailerDeliveryDestination'
        expressCode:
          description: Defines the express code of the OTRC datamailer delivery.
          $ref: '#/components/schemas/DatamailerExpressCode'
        deliveryInformation:
          description: Delivery information for the OTRC datamailer.
          $ref: '#/components/schemas/DeliveryInformation'
        mailerText:
          $ref: '#/components/schemas/MailerTextCode'
    Country:
      description: Country code in format ISO 3166-1 alpha 2.
      type: string
      pattern: '[A-Z]{2}'
      examples:
      - CH
    BiometricType:
      description: Type of biometric authentication; required for authentication method BIOMETRIC and BIOMETRIC_WITH_PIN_FALLBACK.
      type: string
      enum:
      - ANDROID_BIOMETRIC
      - IOS_BIOMETRIC
    ThreeDsRegisterRequest:
      description: Contains the card identifiers and 3DS-related data for the registration of a card.
      type: object
      required:
      - cardTokenExtension
      - threeDsData
      properties:
        cardTokenExtension:
          $ref: '#/components/schemas/CardTokenExtension'
        threeDsData:
          $ref: '#/components/schemas/ThreeDsData'
    ThreeDsAuthenticationMethod:
      description: User authentication method for either 3DS via debiX Api, via debiX+ App or via SMS.
      type: string
      enum:
      - PIN
      - BIOMETRIC
      - BIOMETRIC_WITH_PIN_FALLBACK
      - BIOMETRIC_AND_PIN
      - DELEGATED
      - SMS_ONLY
      - NONE
    DeliveryInformation:
      description: Delivery address of card, PIN and OTRC.
      type: object
      required:
      - address
      - country
      properties:
        address:
          $ref: '#/components/schemas/UnstructuredAddress'
        country:
          $ref: '#/components/schemas/Country'
        salutationText:
          description: Salutation text for the delivery.
          type: string
          maxLength: 50
    Password:
      description: This parameter must be used exclusively by issuers with special regulations (e.g., PSD2). It must be provided if the issuer intends to register a card for 3DS with SMS as secondary authentication method (i.e. SMS as fallback) or if the issuer intends to register a card with SMS_ONLY as primary and unique authentication method. In these cases, the phoneNumber field must also be provided.
      type: string
      minLength: 1
      examples:
      - password
    PartialThreeDsData:
      description: Partial data pertaining to a 3DS registration.
      type: object
      properties:
        userId:
          description: 'Identifier assigned to a particular user by the issuer. Note: userId is a mandatory parameter when registering a card with authentication method PIN, BIOMETRIC or BIOMETRIC_WITH_PIN_FALLBACK.'
          type: string
          minLength: 1
          examples:
          - '2345872'
        phoneNumber:
          $ref: '#/components/schemas/PhoneNumber'
        language:
          $ref: '#/components/schemas/Language'
        authId:
          $ref: '#/components/schemas/AuthId'
        authenticationMethod:
          $ref: '#/components/schemas/AuthenticationMethod'
        biometricType:
          $ref: '#/components/schemas/BiometricType'
        pinCode:
          $ref: '#/components/schemas/PinCode'
        password:
          $ref: '#/components/schemas/Password'
    OtrcDatamailerOrderRequest:
      description: Details of the OTRC datamailer order request.
      type: object
      required:
      - delivery
      - expressCode
      properties:
        delivery:
          description: Delivery destination of the OTRC datamailer.
          $ref: '#/components/schemas/DatamailerDeliveryDestination'
        expressCode:
          description: Defines the express code of the OTRC datamailer delivery.
          $ref: '#/components/schemas/DatamailerExpressCode'
        deliveryInformation:
          description: Delivery information for the OTRC datamailer.
          $ref: '#/components/schemas/DeliveryInformation'
        mailerText:
          $ref: '#/components/schemas/MailerTextCode'
    CardTokenExtension:
      description: Extension to card token to identify a card.
      type: object
      required:
      - cardExpiry
      - cardSequenceNumber
      properties:
        cardExpiry:
          $ref: '#/components/schemas/YearMonth'
        cardSequenceNumber:
          $ref: '#/components/schemas/CardSequenceNumber'
  parameters:
    RequestIdHeader:
      in: header
      name: x-request-id
      description: A unique identifier for a request and response pair.
      schema:
        type: string
    IssuerTraceIdHeader:
      in: header
      name: issuer-trace-id
      description: A issuer‑provided unique trace identifier to correlate the complete flow started by this request.
      schema:
        type: string
        minLength: 1
        maxLength: 26
