openapi: 3.1.0
info:
  title: 'debiX Auth Provider API: Provider-to-SIX 3DS 3DS Authentication API'
  version: 2.1.9
  description: Callback API used by the Authentication Provider and implemented by SIX / debiX
servers:
- url: https://api.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - P2P
tags:
- name: 3DS Authentication
paths:
  /authentication:
    post:
      tags:
      - 3DS Authentication
      summary: Initiates the authentication of a 3DS transaction
      description: Accepts and processes a 3DS authentication request.
      operationId: authenticationRequest
      parameters:
      - $ref: '#/components/parameters/CorrelationIdHeader'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthenticationRequest'
        required: true
      responses:
        '204':
          description: Authentication received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
  /authentication/{threeDsTransactionId}/cancel:
    post:
      tags:
      - 3DS Authentication
      summary: Cancels the authentication of a 3DS transaction
      description: Cancels an ongoing 3DS authentication identified by the transaction ID.
      operationId: authenticationRequestCancel
      parameters:
      - $ref: '#/components/parameters/CorrelationIdHeader'
      - $ref: '#/components/parameters/ThreeDsTransactionId'
      responses:
        '204':
          description: Authentication cancellation received
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
components:
  schemas:
    ErrorDetail:
      type: object
      required:
      - errorCode
      properties:
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          example: 42
        description:
          description: The message describing the error.
          type: string
          example: The answer to the great question of Life, the Universe and Everything.
    AuthenticationRequest:
      type: object
      required:
      - threeDsTransactionId
      - authId
      - transactionDetail
      properties:
        threeDsTransactionId:
          type: string
          example: a5b86c4e-0caa-11e8-ba89-0ed5f89f718b
          description: The 3DS transaction id.
        authId:
          type: string
          minLength: 1
          maxLength: 36
          example: ea3ze38kfj3g6ktv6wn14aaylvmdv3qn
          description: Identifier for the device used for 3DS
        transactionDetail:
          $ref: '#/components/schemas/TransactionDetail'
        threeDSRequestorAppURL:
          type: string
          example: https://requestor.url.com?id=24dfc3e8-0dfa-45d7-95c1-4d213a8da9d9
          description: threeDSRequestorAppURL as defined in the 3DS 2.2 specification. Used to link back to the merchant app from an OOB app.
    TransactionDetail:
      type: object
      required:
      - maskedCardNumber
      - merchantName
      properties:
        maskedCardNumber:
          type: string
          description: The masked primary account number.
          example: '**** **** **** 1234'
        purchaseDate:
          type: string
          format: date-time
          description: Date and time of the transaction.
          example: '2017-07-21T17:32:28Z'
        merchantName:
          type: string
          description: The name of the merchant.
          example: ACME Corporation
        purchaseAmount:
          type: string
          description: The transaction amount.
          example: '120012'
        purchaseAmountExponent:
          type: number
          description: The transaction amount exponent.
          minimum: 0
          maximum: 9
          example: 2
        purchaseCurrency:
          type: string
          description: The ISO-4217 three-letter alphabetic currency code.
          example: CHF
    ApiError:
      description: Information about an error on API requests.
      type: object
      required:
      - applicationError
      - errorCode
      properties:
        applicationError:
          description: The name of the application error.
          type: string
          example: OPERATION_FAILED
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          example: 5001
        description:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
          example: The requested operation failed.
        errors:
          description: List of error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        errorToken:
          description: A generated error token referencing the error log on the server.
          type: string
          example: 618503aa-7beb-4d3d-986e-36f1fdbd0e13
  parameters:
    CorrelationIdHeader:
      in: header
      name: x-correlation-id
      description: A unique identifier for an authentication request and authentication callback
      schema:
        type: string
    ThreeDsTransactionId:
      in: path
      name: threeDsTransactionId
      required: true
      example: a5b86c4e-0caa-11e8-ba89-0ed5f89f718b
      description: The 3DS transaction id.
      schema:
        type: string
