openapi: 3.1.0
info:
  title: debiX API
  version: 2.36.0
servers:
  - url: https://api.six-group.com/api/debix/bank/cardtoken/v2
    description: PROD - Internet
  - url: https://api-preprod.np.six-group.com/api/debix/bank/cardtoken/v2
    description: TEST - Internet
  - url: https://api.six.ssfn.ch/api/debix/bank/cardtoken/v2
    description: PROD - SSFN
  - url: https://api-preprod.np.six.ssfn.ch/api/debix/bank/cardtoken/v2
    description: TEST - SSFN
  - url: https://api.p2p.six-group.com/api/debix/bank/cardtoken/v2
    description: PROD - P2P
  - url: https://api-preprod.np.p2p.six-group.com/api/debix/bank/cardtoken/v2
    description: TEST - P2P
tags:
  - name: Card Management
    description: Allows card lifecycle, PIN management, retrieval of sensitive card data.
  - name: Card Usage
    description: >-
      Retrieves not expired transactions of the last 120 days for cards and
      digital cards, and merchant logo for transactions.
  - name: 3DS
    description: 3DS lifecycle, 3DS details, OTRC order.
  - name: Token Provisioning
    description: >-
      Allows provisioning wallet encryption for Mastercard push provisioning
      (Beta), provisioning wallet encryption via Thales SDK, provisioning C2P
      encryption via Thales SDK, enrollment for Mastercard Click to Pay (Beta),
      enrollment for Visa Click to Pay (Beta).
  - name: Token Lifecycle Management
    description: Retrieves and manages digital cards (tokens) for cards.
  - name: Click to Pay Issuer Offered
    description: >-
      Visa Click to Pay Issuer Offered operations to enroll and manage cards for
      Visa Click to Pay.
  - name: Alias Directory (Beta)
    description: >-
      Visa Alias Directory related operations. Feature under development,
      subject to change.
  - name: debiX PUSH Management (Beta)
    description: Allows management of debiX PUSH.
  - name: Health Check
    description: >-
      Allows to verify the availability of the API, the access to it across all
      layers, as well as the client authentication.
  - name: Deprecated
    description: Deprecated endpoints.
security: []
paths:
  /healthcheck:
    get:
      tags:
        - Health Check
      summary: Health check using GET method.
      description: Returns a status message of the system.
      operationId: healthcheckForGet
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    post:
      tags:
        - Health Check
      summary: Health check using POST method.
      description: Returns the request body. This operation will not modify the system.
      operationId: healthCheckForPost
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Any message which is expected in the response.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthCheckRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    put:
      tags:
        - Health Check
      summary: Health check using PUT method.
      description: Returns the request body. This operation will not modify the system.
      operationId: healthCheckForPut
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Any message which is expected in the response.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthCheckRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards:
    post:
      tags:
        - Card Management
      summary: Orders a new card.
      description: >
        Orders a new virtual or physical card optionally with a reference to an
        existing parent card.


        In case the feature toggle values are not specified in the request,
        either directly, or by referencing a parentCard with the
        takeoverFeatureToggles set to true, the 

        feature toggles will receive the following default values:

        | Feature Flag                 | Default Value            |

        |------------------------------|--------------------------|

        | eCommerceAllowed             | true                     |

        | trxOnlyAsChipAndPin          | false                    |

        | magStripePaymentAllowed      | true                     |

        | automaticBilling             | true                     |

        | purchaseWithCashBackAllowed  | true                     |

        | merchantInitiatedTrxAllowed  | true                     |

        | atmAllowed                   | true                     |

        | posAllowed                   | true                     |

        | motoAllowed                  | true                     |

        | bypassGeoblocking            | true                     |

        | moneySendReceiveAllowance    | RECEIVE_AND_SEND_ALLOWED |

        | reservationAllowed           | true                     |

        | transactionPushEnabled       | true                     |

        | gamblingAndBettingAllowance  | ALLOWED                  |

        | blockedMerchantCategoryCodes | (empty List)             |

        | contactlessActivationStatus  | ACTIVATED_CONFIRMED      |        


        In addition to standard application error codes, the following codes can
        be returned:

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4443 - UNKNOWN_PARENT_CARD

        * 4444 - VIRTUAL_CARD_EQUALS_PARENT_CARD

        * 4445 - CARD_ALREADY_EXISTING

        * 4446 - DELIVERY_INFORMATION_FOR_OTRC_MISSING

        * 4451 - INVALID_JWS_SIGNATURE

        * 4452 - START_SET_PIN_NOT_CALLED

        * 4462 - DELIVERY_INFORMATION_FOR_CARD_OR_PIN_MISSING

        * 4463 - CARD_EXPRESS_CODE_MISSING

        * 4464 - PIN_EXPRESS_CODE_MISSING

        * 4465 - PRODUCER_CODE_MISSING

        * 4466 - CARDLINE1_MISSING

        * 4469 - PIN_DELIVERY_NOT_ALLOWED_FOR_VIRTUAL_CARD

        * 4476 - DATAMAILER_DELIVERY_DESTINATION_DIFFERENCE_NOT_ALLOWED

        * 4477 - DATAMAILER_EXPRESS_CODE_DIFFERENCE_NOT_ALLOWED

        * 4478 - OTRC_EXPRESS_CODE_MISSING

        * 4480 - BANK_CARD_CAN_NOT_BE_ORDERED_AS_VIRTUAL_CARD

        * 4481 - PARAMETER_ONLY_ALLOWED_FOR_BANK_CARD

        * 4482 - BANK_DATA_TRACK_2_MISSING

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: orderCard
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Configuration specifying the new card to be ordered.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardOrderRequest'
        required: true
      responses:
        '202':
          description: >
            Accepted. The request to order a new card has been successfully
            received and processed.

            The new card is ready for immediate use in subsequent card-related
            operations.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardOrderResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/sync:
    post:
      tags:
        - debiX PUSH Management (Beta)
      summary: Triggers a synchronization of cards via debiX PUSH.
      description: >
        The current state of the cards matching the provided filter criteria are
        send via debiX PUSH to the bank. The filter may not select more than
        150'000 cards. 


        In addition to standard application error codes, the following codes can
        be returned:

        * 4525 - TOO_MANY_RESULTS

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: synchronizeCards
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Optional filter criteria to define which cards should be synchronized.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardSynchronizationRequest'
        required: false
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/clicktopay/mastercard/provisioning:
    post:
      tags:
        - Token Provisioning
      summary: Enrolls a card in Mastercard Click to Pay.
      description: >
        Enrolls a card in Mastercard Click to Pay. As part of the request
        processing, a digital card will be generated for the enrolled card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD        

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4507 - C2P_AMBIGUOUS_CONSUMER_IDENTITY_PHONE_NUMBER

        * 4508 - C2P_AMBIGUOUS_CONSUMER_IDENTITY_EMAIL_ADDRESS

        * 4509 - C2P_PARAMETER_VALIDATION_FAILED_AT_SCHEME

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: setClickToPayMastercardProvisioningData
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickToPayMastercardProvisioningRequest'
        required: true
      responses:
        '204':
          description: Click to Pay provisioning was successful
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/clicktopay/visa/provisioning:
    post:
      tags:
        - Token Provisioning
      summary: Enrolls a card in Visa Click to Pay.
      description: >
        Enrolls a card in Visa Click to Pay. As part of the request processing,
        a digital card will be generated for the enrolled card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD        

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: setClickToPayVisaProvisioningData
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickToPayVisaProvisioningRequest'
        required: true
      responses:
        '204':
          description: Click to Pay provisioning was successful
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/apple-pay/provisioning-data:
    post:
      tags:
        - Token Provisioning
      summary: Get data for push provisioning of the given card to a Apple Pay wallet.
      description: >
        Returns the encrypted card data for the provisioning of a funding debit
        card, specified by its card token, into an Apple Pay wallet.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4454 - EXCLUDED_WALLET_PROVIDER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getApplePayProvisioningData
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ApplePayCardEncryptionRequest'
        required: true
      responses:
        '200':
          description: Successful
          headers:
            X-Request-ID:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApplePayProvisioningResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/google-pay/provisioning-data:
    post:
      tags:
        - Token Provisioning
      summary: Get data for push provisioning of the given card to a Google Pay wallet.
      description: >
        Returns the encrypted card data for the provisioning of a funding debit
        card, specified by its card token, into a Google Pay wallet.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4454 - EXCLUDED_WALLET_PROVIDER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getGooglePayProvisioningData
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GooglePayCardEncryptionRequest'
      responses:
        '200':
          description: Successful
          headers:
            X-Request-ID:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GooglePayProvisioningResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/samsung-pay/provisioning-data:
    post:
      tags:
        - Token Provisioning
      summary: >-
        Get data for push provisioning of the given card to a Samsung Pay
        wallet.
      description: >
        Returns the encrypted card data for the provisioning of a funding debit
        card, specified by its card token, into a Samsung Pay wallet.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4454 - EXCLUDED_WALLET_PROVIDER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getSamsungPayProvisioningData
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SamsungPayCardEncryptionRequest'
      responses:
        '200':
          description: Successful
          headers:
            X-Request-ID:
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SamsungPayProvisioningResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/encrypt-card-data:
    post:
      tags:
        - Token Provisioning
        - Deprecated
      summary: Returns encrypted card data.
      description: >
        Deprecated, use one of `POST
        /cards/{cardToken}/apple-pay/provisioning-data`, 

        `POST /cards/{cardToken}/google-pay/provisioning-data`, 

        `POST /cards/{cardToken}/samsung-pay/provisioning-data` instead.


        Returns the encrypted card data for the provisioning of a funding debit
        card, specified by its card token, into a wallet with Thales SDK.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getEncryptedCardData
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Card data to encrypt.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardEncryptionRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardEncryptionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/encrypt-card-data/click-to-pay:
    post:
      tags:
        - Token Provisioning
      summary: Returns encrypted card data for Click to Pay.
      description: >
        Returns the encrypted card data for the provisioning of a funding debit
        card for Click to Pay into a wallet with Thales SDK.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4460 - ECOMMERCE_FEATURE_TOGGLE_NOT_ACTIVATED

        * 4461 - INCOMPLETE_OR_MISSING_ADDRESS_DATA

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getEncryptedCardDataClickToPay
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Card data to encrypt.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickToPayCardEncryptionRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickToPayCardEncryptionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/click-to-pay/status:
    post:
      tags:
        - Token Provisioning
      summary: Checks for existing Click to Pay registrations.
      description: >
        Returns the DPAN associated with the given card and email address for
        Click to Pay. Will return no DPAN if no association exists.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getClickToPayStatus
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Email address for which to return the registered DPAN.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClickToPayStatusRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClickToPayStatusResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Card not found or deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/generate-authorization-code:
    post:
      tags:
        - Token Provisioning
      summary: Returns an authorization code.
      description: >
        Returns an authorization code for the provisioning of a funding debit
        card, specified by its card token, into a wallet with Thales SDK. 

        The code is valid for 20 seconds in the production environment and 60
        seconds in test environment.  


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4433 - UNKNOWN_WALLET_PROVIDER

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4454 - EXCLUDED_WALLET_PROVIDER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getAuthorizationCode
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: >-
          Card identifier and wallet for the generation of the authorization
          code.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationCodeRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationCodeResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/3ds:
    post:
      tags:
        - 3DS
      summary: Registers the card for 3DS.
      description: >
        If a card with the provided card data is not yet registered for 3DS, the
        registration will take place.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4434 - THREE_DS_NOT_ENABLED_FOR_ISSUER

        * 4435 - CARD_ALREADY_REGISTERED_FOR_THREE_DS

        * 4436 - CARD_INACTIVE

        * 4453 - THREE_DS_OOB_NOT_ENABLED_FOR_ISSUER

        * 4467 - THREE_DS_PASSWORD_NOT_ALLOWED

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: threeDsRegister
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Card identifier and 3DS-related data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsRegisterRequest'
        required: true
      responses:
        '204':
          description: The card was successfully registered for 3DS.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    put:
      tags:
        - 3DS
      summary: Updates the 3DS data.
      description: >
        If the request contains new information, the 3DS data will be updated
        for the given card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4434 - THREE_DS_NOT_ENABLED_FOR_ISSUER

        * 4453 - THREE_DS_OOB_NOT_ENABLED_FOR_ISSUER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: threeDsUpdate
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Contains 3DS-related data.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsUpdateRequest'
        required: true
      responses:
        '204':
          description: The request was successfully processed.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    delete:
      tags:
        - 3DS
      summary: Deregisters the given card from 3DS and deletes the corresponding data.
      description: >
        If a card with the provided identifier is known to debiX, it will be
        deregistered from 3DS and the corresponding data deleted.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: threeDsDelete
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      responses:
        '204':
          description: The request was successfully processed.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/3ds/details:
    post:
      tags:
        - 3DS
      summary: Returns the 3DS details for the given card.
      description: >
        Returns the details for the current 3DS registration.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4457 - CARD_NOT_REGISTERED_FOR_THREE_DS

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: threeDsDetails
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Identifier of the card for which to return the 3DS details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ThreeDsDetailsRequest'
      responses:
        '200':
          description: The 3DS details were successfully fetched.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ThreeDsDetailsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/otrc:
    get:
      tags:
        - 3DS
      summary: Orders an online One-Time-Registration-Code (OTRC).
      description: >
        Get an online One-Time-Registration-Code (OTRC) for the given card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: otrcOrder
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OtrcOrderResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/otrc-datamailer:
    post:
      tags:
        - 3DS
      summary: Orders an One-Time-Registration-Code (OTRC) via datamailer.
      description: >
        Get a datamailer with the One-Time-Registration-Code (OTRC) for the
        specified card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: otrcOrderDatamailer
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Details of the OTRC datamailer.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/OtrcDatamailerOrderRequest'
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/reverse-order:
    post:
      tags:
        - Card Management
      summary: Reverses a card order.
      description: >
        Reverses a previously ordered card.

        The reversal is only possible while the card order of a physical card is
        still in a cancellable state: for card renewals before 7:55 am on the
        same day as the card order request and for new card orders before 18:25
        on the same day as the card order request.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4470 - CARD_ORDER_REVERSAL_NOT_POSSIBLE

        * 4471 - CARD_ORDER_REVERSAL_FOR_VIRTUAL_CARD_NOT_ALLOWED

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: reverseCardOrder
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Identifier of the card whose order should be reversed.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardOrderReversalRequest'
      responses:
        '202':
          description: Successful
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}:
    post:
      tags:
        - Card Management
      summary: Returns the card's details.
      description: >
        Returns the status and the details of the given card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4447 - NO_CARD_DETAILS_AVAILABLE

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: getCardDetails
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Identifier of the card for which to return the details.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardDetailsRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardDetailsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    put:
      tags:
        - Card Management
      summary: Modifies the data of a card.
      description: >
        Allows the modification of certain data fields belonging to a card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4436 - CARD_INACTIVE

        * 4447 - NO_CARD_DETAILS_AVAILABLE

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: mutateCardDetails
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Fields to modify. Not all fields are mandatory.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardMutationRequest'
        required: true
      responses:
        '202':
          description: Successful
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/status:
    put:
      tags:
        - Card Management
      summary: Modifies the status of a card.
      description: >
        Modifies the status of the specified card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4438 - CARD_STATUS_UPDATE_NOT_ALLOWED

        * 4439 - CARD_HAS_PENDING_STATUS

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: updateCardStatus
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: >-
          Contains the new status to be set on the card. In case of a blocking
          action, contains also the block reason.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateCardStatusRequest'
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/credentials:
    post:
      tags:
        - Card Management
      summary: Gets card credentials.
      description: >
        Get credentials (PAN, CVV) of the specified card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4450 - NO_CERTIFICATE_FOUND

        * 4451 - INVALID_JWS_SIGNATURE

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getCardCredentials
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: >-
          Signed request for the credentials, containing card identifiers and
          encryption parameters.
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/CardCredentialsRequest'
            examples:
              JWS Header (decoded):
                value:
                  alg: ES256 (example)
                  typ: JWT
                  x5t#S256: 0vx7agoebGcQSuuPiLJXZptN9nndrQmbXEp
              JWS Payload (decoded):
                value:
                  cardToken: CTK-85AB2A9FE2374A188A039F03F88E6EE1
                  cardTokenExtension:
                    cardSequenceNumber: 1
                    cardExpiry:
                      month: 6
                      year: 23
                  clientEphPubKey: SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        required: true
      responses:
        '200':
          description: Successful
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/CardCredentialsResponse'
              examples:
                JWS Header (decoded):
                  value:
                    alg: none
                    typ: JWT
                JWS Payload (decoded):
                  value:
                    serverEphPubKey: QbTKxwRJSMeKKF2Q_T4fwpMeJf36POk6yJVadQssZi9
                    encryptedData: TG9yZW0gaXBzdW0gZG9sciBzaXI=
                Card Credentials (decrypted):
                  value:
                    fpan: 1234567812345678
                    cvv: 123
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/pin:
    post:
      tags:
        - Card Management
      summary: Gets the PIN for the given card.
      description: >
        Get PIN of the given card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4450 - NO_CERTIFICATE_FOUND

        * 4451 - INVALID_JWS_SIGNATURE

        * 4458 - RETRIEVE_PIN_NOT_ALLOWED_FOR_DELETED_CARD

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: getPin
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: >-
          Signed request for the PIN, containing card identifiers and encryption
          parameters.
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/GetPinRequest'
            examples:
              JWS Header (decoded):
                value:
                  alg: ES256 (example)
                  typ: JWT
                  x5t#S256: 0vx7agoebGcQSuuPiLJXZptN9nndrQmbXEp
              JWS Payload (decoded):
                value:
                  cardToken: CTK-85AB2A9FE2374A188A039F03F88E6EE1
                  cardTokenExtension:
                    cardSequenceNumber: 1
                    cardExpiry:
                      month: 6
                      year: 23
                  clientEphPubKey: SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
        required: true
      responses:
        '200':
          description: Successful
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/GetPinResponse'
              examples:
                JWS Header (decoded):
                  value:
                    alg: ES256 (example)
                    typ: JWT
                JWS Payload (decoded):
                  value:
                    serverEphPubKey: QbTKxwRJSMeKKF2Q_T4fwpMeJf36POk6yJVadQssZi9
                    encryptedData: TG9yZW0gaXBzdW0gZG9sciBzaXI=
                PIN (decrypted):
                  value:
                    pin: 123456
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/start-set-pin:
    post:
      tags:
        - Card Management
      summary: Starts a PIN set operation.
      description: >
        First call to be able to set the PIN for the specified card. debiX
        returns an ephemeral public key to encrypt the PIN on the issuer's side
        for the '/set-pin' call.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4440 - SET_PIN_NOT_ALLOWED_FOR_BLOCKED_OR_DELETED_CARD

        * 4442 - PIN_PREVIOUSLY_PASSED_TO_NEWER_CARD

        * 4450 - NO_CERTIFICATE_FOUND

        * 4451 - INVALID_JWS_SIGNATURE

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: startSetPin
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: >-
          Signed request to get debiX's ephemeral public key, it contains card
          identifiers.
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/StartSetPinRequest'
            examples:
              JWS Header (decoded):
                value:
                  alg: ES256 (example)
                  typ: JWT
                  x5t#S256: 0vx7agoebGcQSuuPiLJXZptN9nndrQmbXEp
              JWS Payload (decoded):
                value:
                  cardToken: CTK-85AB2A9FE2374A188A039F03F88E6EE1
                  cardTokenExtension:
                    cardSequenceNumber: 1
                    cardExpiry:
                      month: 6
                      year: 23
        required: true
      responses:
        '200':
          description: Successful
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StartSetPinResponse'
              examples:
                JWS Header (decoded):
                  value:
                    alg: ES256 (example)
                    typ: JWT
                JWS Payload (decoded):
                  value:
                    serverEphPubKey: QbTKxwRJSMeKKF2Q_T4fwpMeJf36POk6yJVadQssZi9
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/start-set-pin:
    post:
      tags:
        - Card Management
      summary: Starts a PIN set operation.
      description: >
        First call to be able to set the PIN for the specified card. debiX
        returns an ephemeral public key to encrypt the PIN on the issuer's side
        for the '/set-pin' call.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4440 - SET_PIN_NOT_ALLOWED_FOR_BLOCKED_OR_DELETED_CARD

        * 4442 - PIN_PREVIOUSLY_PASSED_TO_NEWER_CARD

        * 4450 - NO_CERTIFICATE_FOUND

        * 4451 - INVALID_JWS_SIGNATURE

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: startSetPinByCardId
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: >-
          Signed request to get debiX's ephemeral public key, it contains a card
          identifier.
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/StartSetPinByCardIdRequest'
            examples:
              JWS Header (decoded):
                value:
                  alg: ES256 (example)
                  typ: JWT
                  x5t#S256: 0vx7agoebGcQSuuPiLJXZptN9nndrQmbXEp
              JWS Payload (decoded):
                value:
                  cardId:
                    bankClearingNumber: 5000
                    cardNumber: 123456
                    cardType: 1
                    cardSequenceNumber: 1
                    cardExpiry:
                      month: 6
                      year: 23
        required: true
      responses:
        '200':
          description: Successful
          content:
            text/plain:
              schema:
                $ref: '#/components/schemas/StartSetPinResponse'
              examples:
                JWS Header (decoded):
                  value:
                    alg: ES256 (example)
                    typ: JWT
                JWS Payload (decoded):
                  value:
                    serverEphPubKey: QbTKxwRJSMeKKF2Q_T4fwpMeJf36POk6yJVadQssZi9
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/set-pin:
    post:
      tags:
        - Card Management
      summary: Sets the PIN for the given card.
      description: >
        Sets the PIN for the given card. The PIN is encrypted with the shared
        key derived from debiX's ephemeral public key from the '/start-set-pin'
        request 

        and the issuer's ephemeral private key corresponding to the issuer's
        ephemeral public key in this request (clientEphPubKey).  


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4440 - SET_PIN_NOT_ALLOWED_FOR_BLOCKED_OR_DELETED_CARD

        * 4442 - PIN_PREVIOUSLY_PASSED_TO_NEWER_CARD

        * 4450 - NO_CERTIFICATE_FOUND

        * 4451 - INVALID_JWS_SIGNATURE

        * 4452 - START_SET_PIN_NOT_CALLED

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: setPin
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: >-
          Signed request for the PIN set operation, containing card identifiers,
          encryption parameters and encrypted PIN.
        content:
          text/plain:
            schema:
              $ref: '#/components/schemas/SetPinRequest'
            examples:
              JWS Header (decoded):
                value:
                  alg: ES256 (example)
                  typ: JWT
                  x5t#S256: 0vx7agoebGcQSuuPiLJXZptN9nndrQmbXEp
              JWS Payload (decoded):
                value:
                  cardToken: CTK-85AB2A9FE2374A188A039F03F88E6EE1
                  cardTokenExtension:
                    cardSequenceNumber: 1
                    cardExpiry:
                      month: 6
                      year: 23
                  clientEphPubKey: SflKxwRJSMeKKF2QT4fwpMeJf36POk6yJV_adQssw5c
                  encryptedData: TG9yZW0gaXBzdW0gZG9sciBzaXI=
        required: true
      responses:
        '204':
          description: Set PIN was successful.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/pin-datamailer:
    post:
      tags:
        - Card Management
      summary: Orders a PIN datamailer for the specified card.
      description: >
        PIN datamailer orders are only possible for physical cards.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4469 - PIN_DELIVERY_NOT_ALLOWED_FOR_VIRTUAL_CARD

        * 4472 - MULTIPLE_PIN_DATAMAILER_ORDERS_PER_DAY

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: orderPinDatamailer
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Details of the PIN datamailer order.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PinDatamailerOrderRequest'
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/reset-pin-try-counter:
    post:
      tags:
        - Card Management
      summary: Resets the PIN try counter for the given card.
      description: >
        Requests the reset of PIN try counter for the given card. After the
        reset at the card processor, the cardholder has three PIN attempts
        again.

         In addition to standard application error codes, the following codes can be returned:
         * 4430 - UNKNOWN_CARD
         * 4474 - RESET_PIN_TRY_COUNTER_NOT_ALLOWED_FOR_BLOCKED_OR_DELETED_CARD
         * 4475 - RESET_PIN_TRY_COUNTER_DAILY_LIMIT_EXCEEDED
         * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: resetPinTryCounter
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Request to reset the PIN try counter containing the card identifiers.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPinTryCounterRequest'
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/card-token:
    post:
      tags:
        - Card Management
      summary: Returns the card token.
      description: >
        Returns the unique card token of the specified card.


        In addition to standard application error codes, following codes can be
        returned:

        * 4430 - UNKNOWN_CARD

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: getCardToken
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Identifier of the card for which to return the card token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardTokenRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardTokenResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/card-instance-token:
    post:
      tags:
        - Card Management
      summary: Returns the card instance token.
      description: >
        Returns the unique card instance token of the specified card.


        In addition to standard application error codes, following codes can be
        returned:

        * 4430 - UNKNOWN_CARD

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: getCardInstanceToken
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Identifier of the card for which to return the card instance token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardInstanceTokenRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInstanceTokenResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/card-instance-token:
    post:
      tags:
        - Card Management
      summary: Returns the card instance token.
      description: >
        Returns the unique card instance token of the specified card.


        In addition to standard application error codes, following codes can be
        returned:

        * 4430 - UNKNOWN_CARD

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: getCardInstanceTokenByCardId
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Identifier of the card for which to return the card instance token.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardInstanceTokenByCardIdRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardInstanceTokenResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/short-card-id:
    get:
      tags:
        - Card Management
      summary: Returns the card identifier.
      description: >
        Returns the card identifier, i.e. short card id, of the given card.


        In addition to standard application error codes, following codes can be
        returned:

        * 4430 - UNKNOWN_CARD

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: getCardIdentifier
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShortCardIdResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/authorizations:
    post:
      tags:
        - Card Usage
      summary: Returns a list of authorizations.
      description: >
        Returns a list of authorizations for the given card using filter
        arguments; only the authorizations of the last 120 days are available.
        The list is ordered by transaction date from newest to oldest.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4456 - UNKNOWN_WALLET_TYPE

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: getAuthorizations
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Filter arguments for the authorizations search.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthorizationsSearchRequestFilter'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /digitalcards/{dpan}/authorizations:
    post:
      tags:
        - Card Usage
      summary: Returns a list of authorizations for a digital card.
      description: >
        Returns a list of authorizations for a digital card, specified by the
        dpan, using filter arguments; only the authorizations of the last 120
        days are available. The list is ordered by transaction date from newest
        to oldest.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD
      operationId: getAuthorizationsForDigitalCard
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: dpan
          description: Digital card number.
          required: true
          schema:
            $ref: '#/components/schemas/Dpan'
      requestBody:
        description: Filter arguments for the authorizations search.
        content:
          application/json:
            schema:
              $ref: >-
                #/components/schemas/DigitalCardAuthorizationsSearchRequestFilter
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthorizationsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /digitalcards/{dpan}:
    get:
      tags:
        - Token Lifecycle Management
      summary: Returns a digital card.
      description: >
        Returns the digital card specified by the dpan in the request.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD
      operationId: getDigitalCard
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: dpan
          description: Digital card number.
          required: true
          schema:
            $ref: '#/components/schemas/Dpan'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalCard'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/digitalcards:
    post:
      tags:
        - Token Lifecycle Management
      summary: Returns a list of digital cards.
      description: >
        Returns a list of digital cards for the given card using filter
        arguments.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4433 - UNKNOWN_WALLET_PROVIDER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: getDigitalCards
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Filter for the digital card search.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalCardsSearchRequestFilter'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalCardSearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/digitalcards/status:
    put:
      tags:
        - Token Lifecycle Management
      summary: Updates the status of digital cards of a card.
      description: >
        Updates the status of the digital cards of a funding debit card,
        specified by its card token. The status update is triggered only for
        those digital cards which can be updated.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4431 - DIGITAL_CARD_STATUS_UPDATE_NOT_ALLOWED

        * 4437 - DIGITAL_CARD_HAS_PENDING_STATUS

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: updateDigitalCardsStatus
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Update request for the status of digital cards of a card.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalCardsStatusUpdateRequest'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DigitalCardStatusUpdateResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /digitalcards/{dpan}/status:
    put:
      tags:
        - Token Lifecycle Management
      summary: Updates the status of a digital card.
      description: >
        Triggers the status update of the digital card specified by the dpan in
        the request.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4431 - DIGITAL_CARD_STATUS_UPDATE_NOT_ALLOWED

        * 4437 - DIGITAL_CARD_HAS_PENDING_STATUS
      operationId: updateDigitalCardStatus
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: dpan
          description: Digital card number.
          required: true
          schema:
            $ref: '#/components/schemas/Dpan'
      requestBody:
        description: Update request for the status of the digital card.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DigitalCardStatusUpdateRequest'
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /cards/{cardToken}/presentments:
    post:
      tags:
        - Card Usage
      summary: Returns a list of presentments.
      description: >
        Returns a list of presentments for the given card using filter
        arguments; only the presentments of the last 120 days are available. The
        list is ordered by transaction date from newest to oldest.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4456 - UNKNOWN_WALLET_TYPE

        * 4484 - BANK_CARDS_NOT_SUPPORTED_BY_ISSUER
      operationId: getPresentments
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: cardToken
          description: Card token
          required: true
          schema:
            $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Filter arguments for the presentment search.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PresentmentsSearchRequestFilter'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PresentmentsResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /merchants/{merchantId}/logo:
    get:
      tags:
        - Card Usage
      summary: Gets merchant logo of given merchant id.
      description: >
        Retrieves the merchant logo for a given merchant id, including

        its version. The logo is only returned, if the version given

        in the ImageVersionHeader parameter does not correspond to the version
        in debiX.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4455 - UNKNOWN_MERCHANT
      operationId: getMerchantLogo
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/MerchantId'
        - $ref: '#/components/parameters/ImageVersionHeader'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MerchantLogoResponse'
        '304':
          description: The given merchant logo version corresponds to the version in debiX.
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: No merchant or merchant logo found for given merchant id.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /push/events:
    post:
      tags:
        - debiX PUSH Management (Beta)
      summary: Provides information about the push events matching the given filter.
      description: >
        Retrieves events of the last 120 days for a given filter. The list is
        ordered by event timestamp from newest to oldest.
      operationId: getPushEvents
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Request to filter for specific push events.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PushEventsSearchRequestFilter'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PushEventsSearchResponse'
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /push/events/resend:
    post:
      tags:
        - debiX PUSH Management (Beta)
      summary: Resends push events via debiX PUSH based on a list of event ids.
      description: |
        Resends push events via debiX PUSH based on a list of event ids.
      operationId: resendPushEvents
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: List of event ids of events that should be resent.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResendPushEventsRequest'
        required: true
      responses:
        '202':
          description: Accepted
        '400':
          description: Bad request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /click-to-pay/visa/customers:
    post:
      tags:
        - Click to Pay Issuer Offered
      summary: Initiates a new customer enrollment for Visa Click to Pay.
      description: >
        Starts the process of enrolling a new customer and a card for Visa Click
        to Pay,

        and provides a requestTraceId in the response to retrieve the status of
        the enrollment.

        As part of the request processing, a digital card will be generated for
        the enrolled card.

        The status of the customer is set to ACTIVE after a successful
        enrollment.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4436 - CARD_INACTIVE

        * 4501 - CUSTOMER_ALREADY_ENROLLED_FOR_C2P

        * 4504 - C2P_HAS_PENDING_REQUEST

        * 4506 - C2P_NOT_SUPPORTED_BY_ISSUER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: enrollCustomerVisaC2P
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Request to enroll a customer and a card for Visa Click to Pay.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisaC2PEnrollCustomerRequest'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisaC2PEnrollCustomerResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /click-to-pay/visa/customers/{customerId}:
    get:
      tags:
        - Click to Pay Issuer Offered
      summary: Provides the customer's information along with the enrolled cards.
      description: >
        Retrieves all information about the customer stored in Visa Click to
        Pay, including their enrolled cards.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4502 - UNKNOWN_CUSTOMER

        * 4506 - C2P_NOT_SUPPORTED_BY_ISSUER
      operationId: getCustomerVisaC2P
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: customerId
          description: Identifier of the customer.
          required: true
          schema:
            $ref: '#/components/schemas/VisaC2PCustomerId'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisaC2PGetCustomerResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    put:
      tags:
        - Click to Pay Issuer Offered
      summary: Updates the customer's information in Visa Click to Pay.
      description: >
        Overwrites existing data for the specified customer,

        and provides a requestTraceId in the response to retrieve the status of
        this action.

        It is recommended to retrieve the latest customer information in Click
        to Pay and populate all data fields,

        including the ones that do not change. Therefore, the complete customer
        information need to be sent again if the customer is ACTIVE.

        If the status in the request is set to DISABLED, then the update will
        not be performed and Click to Pay will give an error.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4502 - UNKNOWN_CUSTOMER

        * 4504 - C2P_HAS_PENDING_REQUEST

        * 4506 - C2P_NOT_SUPPORTED_BY_ISSUER
      operationId: updateCustomerVisaC2P
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: customerId
          description: Identifier of the customer.
          required: true
          schema:
            $ref: '#/components/schemas/VisaC2PCustomerId'
      requestBody:
        description: Request to update the customer's information.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisaC2PUpdateCustomerRequest'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisaC2PUpdateCustomerResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    delete:
      tags:
        - Click to Pay Issuer Offered
      summary: Deletes an enrolled customer from Visa Click to Pay.
      description: >
        Deletes all data previously sent to Visa Click to Pay for the specified
        customer,

        including all linked cards and digital cards.

        Provides a requestTraceId in the response to retrieve the status of this
        action.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4502 - UNKNOWN_CUSTOMER

        * 4504 - C2P_HAS_PENDING_REQUEST

        * 4506 - C2P_NOT_SUPPORTED_BY_ISSUER
      operationId: deleteCustomerVisaC2P
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: customerId
          description: Identifier of the customer.
          required: true
          schema:
            $ref: '#/components/schemas/VisaC2PCustomerId'
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisaC2PDeleteCustomerResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
  /click-to-pay/visa/customers/{customerId}/cards:
    post:
      tags:
        - Click to Pay Issuer Offered
      summary: Enrolls a card for a customer in Visa Click to Pay.
      description: >
        Enrolls a card for an existing customer already registered with Visa
        Click to Pay,

        and provides a requestTraceId in the response to retrieve the status of
        this action.

        As part of the request processing, a digital card will be generated for
        the enrolled card.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4436 - CARD_INACTIVE

        * 4502 - UNKNOWN_CUSTOMER

        * 4503 - CARD_ALREADY_ENROLLED_FOR_C2P

        * 4504 - C2P_HAS_PENDING_REQUEST

        * 4506 - C2P_NOT_SUPPORTED_BY_ISSUER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: enrollCardVisaC2P
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: customerId
          description: Identifier of the customer.
          required: true
          schema:
            $ref: '#/components/schemas/VisaC2PCustomerId'
      requestBody:
        description: Request to enroll a card for Visa Click to Pay.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/VisaC2PEnrollCardRequest'
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VisaC2PEnrollCardResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '409':
          description: Conflict
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    put:
      tags:
        - Click to Pay Issuer Offered
      summary: Updates the card information in Visa Click to Pay.
      description: >
        Updates existing data for the specified card,

        and provides a requestTraceId in the response to retrieve the status of
        this action.

        It is recommended to retrieve the latest card information in Click to
        Pay and populate all data fields,

        including the ones that do not change. Therefore, the complete card
        information need to be sent again.


        In addition to standard application error codes, the following codes can
        be returned:

        * 4430 - UNKNOWN_CARD

        * 4502 - UNKNOWN_CUSTOMER

        * 4504 - C2P_HAS_PENDING_REQUEST

        * 4506 - C2P_NOT_SUPPORTED_BY_ISSUER

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD
      operationId: updateCardVisaC2P
      parameters:
        - $ref: '#/components/parameters/RequestIdHeader'
        - $ref: '#/components/parameters/IssuerTraceIdHeader'
        - in: path
          name: customerId
          description: Identifier of the customer.
          required: true
          schema:
            $ref: '#/components/schemas/VisaC2PCustomerId'
      requestBody:
        description: Request to update the card information.
        content:
          application/json:
            schema:
[...]
