openapi: 3.1.0
info:
  title: 'debiX Auth Provider API: Provider-to-SIX 3DS iban API'
  version: 2.1.9
  description: Callback API used by the Authentication Provider and implemented by SIX / debiX
servers:
- url: https://api.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - P2P
tags:
- name: iban
  description: '**Bankmaster IBAN validation API**

    Public REST endpoint of the bank master iban validation api.

    '
paths:
  /iban:
    parameters:
    - $ref: '#/components/parameters/query_iban'
    get:
      tags:
      - iban
      summary: GET IBAN information
      description: Validates the international bank account number (IBAN) and returns detail information if available.
      operationId: getIbanInformation
      responses:
        '200':
          description: IBAN information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/IbanResponse'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    Problem:
      required:
      - detail
      - status
      - title
      type: object
      properties:
        type:
          type: string
          description: 'An absolute URI that identifies the problem type.

            We may provide human-readable documentation for the problem type in the future, when the URI is dereferenced.

            '
          format: uri
          example: /problems/REQUEST_PARAMETER_VALIDATION_FAILED
          default: about:blank
        title:
          type: string
          description: 'A short, human readable summary of the problem type.

            '
          example: Request parameter has missing or invalid values
        status:
          maximum: 600
          exclusiveMaximum: true
          minimum: 100
          type: integer
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          format: int32
          example: 400
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: The submitted request contains invalid or missing request parameters which cannot be processed.
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
          format: uri
          example: /api/epcd/bankmaster/v3/public/errors/EPCD0090000001/provided-D
        metadata:
          $ref: '#/components/schemas/GenericObject'
    GenericObject:
      required:
      - '@type'
      - data
      type: object
      properties:
        '@type':
          type: string
          description: 'The field "@type" contains a URI/name identifying the type.

            '
          example: types.example.com/standard/id
        data:
          type: object
          description: 'An object of type @type containing custom fields.

            '
          example: '-'
      description: 'Structured type that contains an object and its type.

        '
      example: 'When associated with a ''Problem'', it typically contains values which caused the failure and similar. May not contain sensitive CID.

        '
    IbanResponse:
      required:
      - validationResult
      type: object
      properties:
        validationResult:
          $ref: '#/components/schemas/IbanValidationResult'
        iid:
          type: integer
          description: Each bank / financial institution is identified by an IID (institution identification). IIDs are three to five digits long. QR-IIDs consist exclusively of numbers from 30000 to 31999.
          example: 9703
      description: IBAN validation result and IID if available.
    IbanValidationResult:
      type: string
      description: 'Validation result. Possible values:

        - OK                    # This IBAN is formally correct

        - INVALID_COUNTRY_CODE  # This IBAN has an invalid country code

        - INVALID_LENGTH        # This IBAN has an invalid length

        - INVALID_FORMAT,       # This IBAN is formally incorrect according to ISO-13616-1

        - INVALID_CHECKSUM      # This IBAN has an invalid checksum

        - INVALID_IID           # This IBAN has an invalid CH or LI institution identification (IID)

        '
  parameters:
    query_iban:
      name: iban
      in: query
      description: International bank account number (IBAN) parameter of the API call.
      required: true
      style: form
      explode: true
      schema:
        maxLength: 100
        minLength: 10
        type: string
        example: CHpp bbbb bkkk kkkk kkkk k
