openapi: 3.1.0
info:
  title: 'debiX Auth Provider API: Provider-to-SIX 3DS calendar API'
  version: 2.1.9
  description: Callback API used by the Authentication Provider and implemented by SIX / debiX
servers:
- url: https://api.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - P2P
tags:
- name: calendar
  description: '**Clearing Day Calendar**

    Informations about future clearing days can be found here.

    '
paths:
  /calendar:
    parameters:
    - $ref: '#/components/parameters/query_calendarDay'
    - $ref: '#/components/parameters/query_serviceIdentification'
    get:
      tags:
      - calendar
      summary: GET Calendar in JSON Format
      description: Returns the clearing day calendar data as a JSON object.
      operationId: getClearingDayCalendarJson
      responses:
        '200':
          description: Clearing day calendar in JSON format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClearingDayCalendarJsonResponse'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
    head:
      tags:
      - calendar
      summary: HEAD Calendar in JSON Format
      description: Clearing day calendar file in JSON format (only head, no content).
      operationId: headClearingDayCalendarJson
      responses:
        '200':
          description: Content can be downloaded with GET method.
          content: {}
        default:
          description: Unexpected error.
          content: {}
  /calendar.csv:
    parameters:
    - $ref: '#/components/parameters/query_calendarDay'
    - $ref: '#/components/parameters/query_serviceIdentification'
    get:
      tags:
      - calendar
      summary: GET Calendar File in CSV Format
      description: Clearing day calendar file in CSV format, with header row. The file encoding corresponds to the Unicode character set UTF-8 and must be read accordingly (umlauts, etc.).
      operationId: getClearingDayCalendarCsv
      responses:
        '200':
          description: Clearing day calendar file in CSV format.
          content: {}
        default:
          description: Unexpected error.
          content:
            text/csv:
              schema:
                $ref: '#/components/schemas/Problem'
    head:
      tags:
      - calendar
      summary: HEAD Calendar in CSV Format
      description: Clearing day calendar file in CSV format (only head, no content).
      operationId: headClearingDayCalendarCsv
      responses:
        '200':
          description: Content can be downloaded with GET method.
          content: {}
        default:
          description: Unexpected error.
          content: {}
components:
  schemas:
    ClearingDayCalendarMetaData:
      required:
      - createdStamp
      type: object
      properties:
        createdStamp:
          type: string
          description: Date and time (according to ISO 8601) at which this response was created.
          format: date-time
          example: '2024-12-21T10:52:05.1904957+01:00'
      description: Information about the validity and creation stamp.
    ScheduledClearingDayChange:
      required:
      - nextClearingDay
      type: object
      properties:
        scheduledClearingStop1:
          type: string
          description: Clearing stop 1 date and time.
          format: date-time
          example: '2024-12-23T17:00:00+01:00'
        scheduledClearingStop2:
          type: string
          description: Clearing stop 2 date and time.
          format: date-time
          example: '2024-12-23T18:00:00+01:00'
        scheduledClearingStop3:
          type: string
          description: Clearing stop 3 date and time.
          format: date-time
          example: '2024-12-23T18:15:00+01:00'
        scheduledCutOff1:
          type: string
          description: Cut off 1 date and time.
          format: date-time
          example: '2024-12-23T16:30:00+01:00'
        scheduledCutOff2:
          type: string
          description: Cut off 2 date and time.
          format: date-time
          example: '2024-12-23T17:30:00+01:00'
        nextClearingDay:
          type: string
          description: The clearing day that starts after day end processing (SIC and euroSIC RTGS service) or after day change (SIC IP service).
          format: date
          example: '2024-12-24'
      description: 'Used if a clearing day change is scheduled for the calendar date. Depending on the service certain child-elements are available:


        a) clearing stops (SIC RTGS and euroSIC RTGS service)

        b) cut-offs for euroSIC RTGS service

        c) the next clearing day scheduled


        The date-time fields are structured according to RFC3339, section 5.6 in ISO 8601 with timezone and milliseconds.

        '
    Duration:
      required:
      - endDateTime
      - startDateTime
      type: object
      properties:
        startDateTime:
          type: string
          description: Start date and time of the duration.
          format: date-time
          example: '2024-12-23T12:00:00+01:00'
        endDateTime:
          type: string
          description: End date and time of the duration.
          format: date-time
      description: A duration composed of start and end. The date-time fields are structured according to RFC3339, section 5.6 in ISO 8601 with timezone and milliseconds.
    Problem:
      required:
      - detail
      - status
      - title
      type: object
      properties:
        type:
          type: string
          description: 'An absolute URI that identifies the problem type.

            We may provide human-readable documentation for the problem type in the future, when the URI is dereferenced.

            '
          format: uri
          example: /problems/REQUEST_PARAMETER_VALIDATION_FAILED
          default: about:blank
        title:
          type: string
          description: 'A short, human readable summary of the problem type.

            '
          example: Request parameter has missing or invalid values
        status:
          maximum: 600
          exclusiveMaximum: true
          minimum: 100
          type: integer
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          format: int32
          example: 400
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: The submitted request contains invalid or missing request parameters which cannot be processed.
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
          format: uri
          example: /api/epcd/bankmaster/v3/public/errors/EPCD0090000001/provided-D
        metadata:
          $ref: '#/components/schemas/GenericObject'
    Service:
      required:
      - clearingDay
      - serviceDescription
      - serviceIdentification
      type: object
      properties:
        serviceIdentification:
          maxLength: 10
          minLength: 1
          type: string
          description: "Values for Production Services: PCR_P; PER_P; PCI_P \nValues for Test environments:\n- SIC RTGS service: XCR_E; XCR_P; ACR_E; ACR_P \n- SIC IP service: XCI_E; ACI_E; XCI_P; ACI_P; VCI_E; VCI_P\n- euroSIC RTGS service: XER_E; XER_P; AER_E; AER_P\n"
          example: PCR_P
        serviceDescription:
          maxLength: 250
          minLength: 1
          type: string
          description: Additional information to the serviceIdentification. No predefined values.
          example: 'SIC-RTGS-Service: External test environment for tests with production data and the current development status of the next release'
        clearingDay:
          type: string
          description: The clearing day that is active on the start (00:00) of the related calendar day.
          format: date
          example: '2024-12-23'
        scheduledDowntimes:
          type: array
          description: Planned downtime(s) of the service on this calendar day. If a downtime does not end by midnight, the end is 24:00 and the downtime continues at 00:00 on the next calendar day.
          items:
            $ref: '#/components/schemas/Duration'
        scheduledClearingDayChange:
          $ref: '#/components/schemas/ScheduledClearingDayChange'
      description: Clearing day information for a specific service (e.g. SIC RTGS service or SIC IP service). This always includes the currently valid clearing day and may include planned downtimes and planned clearing day changes - if any.
    ClearingDayCalendarJsonResponse:
      required:
      - entries
      - metaData
      type: object
      properties:
        metaData:
          $ref: '#/components/schemas/ClearingDayCalendarMetaData'
        entries:
          type: array
          items:
            $ref: '#/components/schemas/ClearingDayCalendarJsonResponseEntry'
      description: Toplevel element that contains metadata and clearing day calendar entries.
    GenericObject:
      required:
      - '@type'
      - data
      type: object
      properties:
        '@type':
          type: string
          description: 'The field "@type" contains a URI/name identifying the type. Example: "@type": "types.example.com/standard/id".

            '
        data:
          type: object
          properties: {}
          description: 'An object of type @type containing custom fields.

            '
      description: 'Structured type that contains an object and its type.

        '
      example: 'When associated with a ''Problem'', it typically contains values which caused the failure and similar. May not contain sensitive CID.

        '
    ClearingDayCalendarJsonResponseEntry:
      required:
      - calendarDay
      - dayOfWeek
      - services
      type: object
      properties:
        calendarDay:
          type: string
          description: Calendar day (according to ISO 8601) of the record. All dependent information can be found as child elements.
          format: date
          example: '2024-12-23'
        dayOfWeek:
          maxLength: 15
          minLength: 1
          type: string
          description: Day of week of the current record in english. This redundant information is only available to support readability.
          example: Wednesday
        services:
          type: array
          items:
            $ref: '#/components/schemas/Service'
      description: Contains clearing day information for a specific calendar date.
  parameters:
    query_serviceIdentification:
      name: serviceIdentification
      in: query
      description: Service identification that should be returned by the API call. If not specified all available services are returned.
      required: false
      style: form
      explode: true
      schema:
        type: string
    query_calendarDay:
      name: calendarDay
      in: query
      description: Calendar day (according to ISO 8601) that should be returned by the API call. If not specified all available, future entries are returned.
      required: false
      style: form
      explode: true
      schema:
        type: string
        format: date
