openapi: 3.1.0
info:
  title: 'debiX Auth Provider API: Provider-to-SIX 3DS healthcheck API'
  version: 2.1.9
  description: Callback API used by the Authentication Provider and implemented by SIX / debiX
servers:
- url: https://api.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - P2P
tags:
- name: healthcheck
  description: '**System Healthcheck**

    This allows to check the basic state of the system (can it be reached, does it respond).

    '
paths:
  /healthcheck:
    get:
      tags:
      - healthcheck
      summary: GET Health Check
      description: Returns a status message of the system.
      operationId: getHealthCheckForGet
      responses:
        '200':
          description: Healthcheck successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        default:
          description: Unexpected error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
    head:
      tags:
      - healthcheck
      summary: HEAD Health Check
      description: Returns a status message of the system (only head, no content).
      operationId: headHealthCheckForGet
      responses:
        '200':
          description: Content can be downloaded with GET method.
          content: {}
        default:
          description: Unexpected error.
          content: {}
components:
  schemas:
    Problem:
      required:
      - detail
      - status
      - title
      type: object
      properties:
        type:
          type: string
          description: 'An absolute URI that identifies the problem type.

            We may provide human-readable documentation for the problem type in the future, when the URI is dereferenced.

            '
          format: uri
          example: /problems/REQUEST_PARAMETER_VALIDATION_FAILED
          default: about:blank
        title:
          type: string
          description: 'A short, human readable summary of the problem type.

            '
          example: Request parameter has missing or invalid values
        status:
          maximum: 600
          exclusiveMaximum: true
          minimum: 100
          type: integer
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          format: int32
          example: 400
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: The submitted request contains invalid or missing request parameters which cannot be processed.
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
          format: uri
          example: /api/epcd/bankmaster/v3/public/errors/EPCD0090000001/provided-D
        metadata:
          $ref: '#/components/schemas/GenericObject'
    HealthCheckResponse:
      required:
      - apiVersion
      - applicationVersion
      - environmentStage
      - message
      - receivedHeaders
      - requestDateTime
      type: object
      properties:
        message:
          maxLength: 100
          type: string
          description: Response message from health check.
          example: The health check GET request was successfully received and processed.
        requestDateTime:
          type: string
          description: According to RFC3339, section 5.6 in ISO 8601 with timezone and milliseconds.
          format: date-time
          example: '2024-12-21T10:52:05.1904957+01:00'
        receivedHeaders:
          type: array
          items:
            type: object
            properties:
              headerName:
                type: string
                description: The name of the provided header.
                example: Accept
              headerValue:
                type: string
                description: As received
                example: application/json
        environmentStage:
          type: string
          description: The instance to which the request was sent to.
          example: X1
        applicationVersion:
          type: string
          description: The version of the API backend.
          example: 4.5.0-julia
        apiVersion:
          type: string
          description: The version of the API.
          example: 1.0.23
    GenericObject:
      required:
      - '@type'
      - data
      type: object
      properties:
        '@type':
          type: string
          description: 'The field "@type" contains a URI/name identifying the type. Example: "@type": "types.example.com/standard/id".

            '
        data:
          type: object
          properties: {}
          description: 'An object of type @type containing custom fields.

            '
      description: 'Structured type that contains an object and its type.

        '
      example: 'When associated with a ''Problem'', it typically contains values which caused the failure and similar. May not contain sensitive CID.

        '
