openapi: 3.2.0
info:
  title: Six Group Health check API
  version: '1.0'
  description: 'Operations tagged Health check across 4 of this provider''s published API definitions: six-group-debix-auth-provider-api-v2-provider-to-six-openapi.yml, six-group-debix-auth-provider-api-v2-six-to-provider-openapi.yml, six-group-debix-bank-api-cardtoken-v2-bank-to-six-openapi.yml, six-group-debix-bank-api-v2-bank-to-six-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://api.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix-auth/provider-auth/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix-auth/provider-auth/v2
  description: TEST - P2P
- url: https://api.six-group.com/api/debix/bank/cardtoken/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix/bank/cardtoken/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix/bank/cardtoken/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix/bank/cardtoken/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix/bank/cardtoken/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix/bank/cardtoken/v2
  description: TEST - P2P
- url: https://api.six-group.com/api/debix/bank/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix/bank/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix/bank/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix/bank/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix/bank/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix/bank/v2
  description: TEST - P2P
tags:
- name: Health Check
paths:
  /healthcheck:
    get:
      tags:
      - Health Check
      summary: Health check using GET method
      description: Returns a status message of the system.
      operationId: healthcheckForGet
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    post:
      tags:
      - Health Check
      summary: Health check using POST method
      description: Returns the request body. This operation will not modify the system.
      operationId: healthCheckForPost
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      requestBody:
        description: Any message which is expected in the response.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthCheckRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiError'
    put:
      tags:
      - Health Check
      summary: Health check using PUT method
      description: Returns the request body. This operation will not modify the system.
      operationId: healthCheckForPut
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      requestBody:
        description: Any message which is expected in the response.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HealthCheckRequest_3'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HealthCheckResponse_3'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
    servers:
    - url: https://api.six-group.com/api/debix-auth/provider-auth/v2
      description: PROD - Internet
    - url: https://api-preprod.np.six-group.com/api/debix-auth/provider-auth/v2
      description: TEST - Internet
    - url: https://api.six.ssfn.ch/api/debix-auth/provider-auth/v2
      description: PROD - SSFN
    - url: https://api-preprod.np.six.ssfn.ch/api/debix-auth/provider-auth/v2
      description: TEST - SSFN
    - url: https://api.p2p.six-group.com/api/debix-auth/provider-auth/v2
      description: PROD - P2P
    - url: https://api-preprod.np.p2p.six-group.com/api/debix-auth/provider-auth/v2
      description: TEST - P2P
    head:
      tags:
      - Health Check
      summary: HEAD Health Check
      description: Returns a status message of the system (only head, no content).
      operationId: headHealthCheckForGet
      responses:
        '200':
          description: Content can be downloaded with GET method.
          content: {}
        default:
          description: Unexpected error.
          content: {}
components:
  schemas:
    HealthCheckResponse:
      type: object
      required:
      - message
      - requestDateTime
      - receivedHeaders
      - apiVersion
      properties:
        message:
          description: Response message from the health check.
          type: string
          minLength: 1
          maxLength: 100
          examples:
          - The healthcheck GET request was successfully received and processed.
        requestDateTime:
          description: Date and time of the request.
          type: string
          format: date-time
          examples:
          - '2021-10-03T16:03:09.101+02:00'
        receivedHeaders:
          description: The headers received by the api backend.
          type: array
          items:
            $ref: '#/components/schemas/ReceivedHeader'
        apiVersion:
          description: Version of this API.
          type: string
          examples:
          - 1.0.0
    ReceivedHeader:
      type: object
      properties:
        headerName:
          description: Name of the received header.
          type: string
          examples:
          - x-correlation-id
        headerValue:
          description: Value of the received header.
          type: string
          examples:
          - 9bcd4351-4b7b-4017-9b63-9613414c6ff1
    ErrorDetail:
      type: object
      required:
      - errorCode
      properties:
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          examples:
          - 42
        description:
          description: The message describing the error.
          type: string
          examples:
          - The answer to the great question of Life, the Universe and Everything.
    ApiError:
      description: Information about an error on API requests.
      type: object
      required:
      - applicationError
      - errorCode
      properties:
        applicationError:
          description: The name of the application error.
          type: string
          examples:
          - OPERATION_FAILED
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          examples:
          - 5001
        description:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
          examples:
          - The requested operation failed.
        errors:
          description: List of error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail'
        errorToken:
          description: A generated error token referencing the error log on the server.
          type: string
          examples:
          - 618503aa-7beb-4d3d-986e-36f1fdbd0e13
    HealthCheckRequest:
      type: object
      required:
      - message
      properties:
        message:
          description: Expected response message from the health check.
          type: string
          minLength: 1
          maxLength: 100
          examples:
          - Any string
    HealthCheckResponse_2:
      type: object
      required:
      - message
      - requestDateTime
      - receivedHeaders
      - apiVersion
      properties:
        message:
          description: Response message from the health check.
          type: string
          minLength: 1
          maxLength: 100
          example: The healthcheck GET request was successfully received and processed.
        requestDateTime:
          description: Date and time of the request.
          type: string
          format: date-time
          example: '2021-10-03T16:03:09.101+02:00'
        receivedHeaders:
          description: The headers received by the api backend.
          type: array
          items:
            $ref: '#/components/schemas/ReceivedHeader_2'
        apiVersion:
          description: Version of this API.
          type: string
          example: 2.0.0
    ReceivedHeader_2:
      type: object
      properties:
        headerName:
          description: Name of the received header.
          type: string
          example: x-correlation-id
        headerValue:
          description: Value of the received header.
          type: string
          example: 9bcd4351-4b7b-4017-9b63-9613414c6ff1
    ErrorDetail_2:
      type: object
      required:
      - errorCode
      properties:
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          example: 42
        description:
          description: The message describing the error.
          type: string
          example: The answer to the great question of Life, the Universe and Everything.
    ApiError_2:
      description: Information about an error on API requests.
      type: object
      required:
      - applicationError
      - errorCode
      properties:
        applicationError:
          description: The name of the application error.
          type: string
          example: OPERATION_FAILED
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          example: 5001
        description:
          description: A human-readable explanation specific to this occurrence of the problem.
          type: string
          example: The requested operation failed.
        errors:
          description: List of error details.
          type: array
          items:
            $ref: '#/components/schemas/ErrorDetail_2'
        errorToken:
          description: A generated error token referencing the error log on the server.
          type: string
          example: 618503aa-7beb-4d3d-986e-36f1fdbd0e13
    HealthCheckRequest_2:
      type: object
      required:
      - message
      properties:
        message:
          description: Expected response message from the health check.
          type: string
          minLength: 1
          maxLength: 100
          example: Any string
    HealthCheckResponse_3:
      type: object
      required:
      - message
      - requestDateTime
      - receivedHeaders
      - apiVersion
      properties:
        message:
          description: Response message from health check.
          type: string
          minLength: 1
          maxLength: 100
          examples:
          - The healthcheck GET request was successfully received and processed.
        requestDateTime:
          description: Date and time of the request.
          type: string
          format: date-time
          examples:
          - '2021-10-03T16:03:09.101+02:00'
        receivedHeaders:
          description: The headers received by the api backend.
          type: array
          items:
            $ref: '#/components/schemas/ReceivedHeader'
        apiVersion:
          description: Version of this API.
          type: string
          examples:
          - 1.0.0
    BankApiError:
      description: Information about an error on API requests.
      type: object
      required:
      - applicationError
      - errorCode
      properties:
        applicationError:
          description: The name of the application error.
          type: string
          examples:
          - OPERATION_FAILED
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          examples:
          - 5001
        description:
          description: A human readable explanation specific to this occurrence of the problem.
          type: string
          examples:
          - The requested operation failed.
        errors:
          description: List of error details.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ErrorDetail'
        errorToken:
          description: A generated error token referencing the actual error and logged on the server.
          type: string
          examples:
          - 618503aa-7beb-4d3d-986e-36f1fdbd0e13
    HealthCheckRequest_3:
      type: object
      required:
      - message
      properties:
        message:
          description: Expected response message from health check.
          type: string
          minLength: 1
          maxLength: 100
          examples:
          - Any string
    HealthCheckResponse_4:
      type: object
      required:
      - message
      - requestDateTime
      - receivedHeaders
      - apiVersion
      properties:
        message:
          description: Response message from health check.
          type: string
          minLength: 1
          maxLength: 100
          examples:
          - The healthcheck GET request was successfully received and processed.
        requestDateTime:
          description: Date and time of the request.
          type: string
          format: date-time
          examples:
          - '2021-10-03T16:03:09.101+02:00'
        receivedHeaders:
          description: The headers received by the api backend.
          type: array
          items:
            $ref: '#/components/schemas/ReceivedHeader'
        apiVersion:
          description: Version of this API.
          type: string
          examples:
          - 1.0.0
    HealthCheckRequest_4:
      type: object
      required:
      - message
      properties:
        message:
          description: Expected response message from health check.
          type: string
          minLength: 1
          maxLength: 100
          examples:
          - Any string
    Problem:
      required:
      - detail
      - status
      - title
      type: object
      properties:
        type:
          type: string
          description: 'An absolute URI that identifies the problem type.

            We may provide human-readable documentation for the problem type in the future, when the URI is dereferenced.

            '
          format: uri
          example: /problems/REQUEST_PARAMETER_VALIDATION_FAILED
          default: about:blank
        title:
          type: string
          description: 'A short, human readable summary of the problem type.

            '
          example: Request parameter has missing or invalid values
        status:
          minimum: 100
          type: integer
          description: 'The HTTP status code generated by the origin server for this occurrence

            of the problem.

            '
          format: int32
          example: 400
          exclusiveMaximum: 600
        detail:
          type: string
          description: 'A human readable explanation specific to this occurrence of the

            problem.

            '
          example: The submitted request contains invalid or missing request parameters which cannot be processed.
        instance:
          type: string
          description: 'An absolute URI that identifies the specific occurrence of the problem.

            It may or may not yield further information if dereferenced.

            '
          format: uri
          example: /api/epcd/bankmaster/v3/public/errors/EPCD0090000001/provided-D
        metadata:
          $ref: '#/components/schemas/GenericObject'
    GenericObject:
      required:
      - '@type'
      - data
      type: object
      properties:
        '@type':
          type: string
          description: 'The field "@type" contains a URI/name identifying the type. Example: "@type": "types.example.com/standard/id".

            '
        data:
          type: object
          properties: {}
          description: 'An object of type @type containing custom fields.

            '
      description: 'Structured type that contains an object and its type.

        '
      example: 'When associated with a ''Problem'', it typically contains values which caused the failure and similar. May not contain sensitive CID.

        '
    GenericObject_2:
      required:
      - '@type'
      - data
      type: object
      properties:
        '@type':
          type: string
          description: 'The field "@type" contains a URI/name identifying the type.

            '
          example: types.example.com/standard/id
        data:
          type: object
          description: 'An object of type @type containing custom fields.

            '
          example: '-'
      description: 'Structured type that contains an object and its type.

        '
      example: 'When associated with a ''Problem'', it typically contains values which caused the failure and similar. May not contain sensitive CID.

        '
  parameters:
    RequestIdHeader:
      in: header
      name: x-request-id
      description: A unique identifier for a request and response pair.
      schema:
        type: string
    RequestIdHeader_2:
      in: header
      name: x-request-id
      description: A unique identifier for a request and response pair
      schema:
        type: string
    IssuerTraceIdHeader:
      in: header
      name: issuer-trace-id
      description: A issuer‑provided unique trace identifier to correlate the complete flow started by this request.
      schema:
        type: string
        minLength: 1
        maxLength: 26
x-refined-from:
- six-group-debix-auth-provider-api-v2-provider-to-six-openapi.yml
- six-group-debix-auth-provider-api-v2-six-to-provider-openapi.yml
- six-group-debix-bank-api-cardtoken-v2-bank-to-six-openapi.yml
- six-group-debix-bank-api-v2-bank-to-six-openapi.yml
