{"openapi":"3.0.2","info":{"title":"Swiss Bank Master API v3","description":"The Swiss Bank Master API allows to access master data required for electronic payments in Switzerland. All participants connected to the Swiss payment systems SIC and euroSIC are listed.","contact":{"url":"https://www.six-group.com/de/products-services/banking-services/interbank-clearing/online-services/download-bank-master.html","email":"contact.sic@six-group.com"},"version":"3.1 (generated 2025-12-05T07:26:41Z)"},"servers":[{"url":"https://api.six-group.com/api/epcd/bankmaster/v3"},{"url":"https://api.p2p.six-group.com/api/epcd/bankmaster/v3"},{"url":"https://api.fip.six-group.com/api/epcd/bankmaster/v3"}],"tags":[{"name":"bankmaster","description":"**Bankmaster API**\nAll public REST endpoints of the bank master data are located here, such as the bank master data as JSON and downloadable files.\n"},{"name":"iban","description":"**Bankmaster IBAN validation API**\nPublic REST endpoint of the bank master iban validation api.\n"},{"name":"healthcheck","description":"**System Healthcheck**\nThis allows to check the basic state of the API (can it be reached, does it respond).\n"}],"paths":{"/bankmaster":{"get":{"tags":["bankmaster"],"summary":"Bank master data as JSON object.","description":"Bank master data as JSON object.","operationId":"getBankmaster","parameters":[{"name":"prettyPrint","in":"query","description":"Flag indicating whether the response is pretty printed.","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Bank master data as JSON object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankMasterJsonResponse"}}}},"default":{"description":"Unexpected error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"head":{"tags":["bankmaster"],"summary":"Bank master data as JSON object (only head, no content).","description":"Bank master data as JSON object (only head, no content).","operationId":"headBankmaster","responses":{"200":{"description":"Content can be downloaded with GET method."},"default":{"description":"Unexpected error."}}}},"/bankmaster_V3.csv":{"get":{"tags":["bankmaster"],"summary":"Bank master data file in the CSV format.","description":"Bank master data file in the CSV format, with header row. The CSV file contains UTF-8 encoded characters (important e.g. for umlauts and Euro sign).","operationId":"getBankmasterCsv","responses":{"200":{"description":"Bank master data file in the CSV format."},"default":{"description":"Unexpected error.","content":{"text/csv":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"head":{"tags":["bankmaster"],"summary":"Bank master data file in the CSV format (only head, no content).","description":"Bank master data file in the CSV format, with header row. The CSV file contains UTF-8 encoded characters (important e.g. for umlauts and Euro sign) (only head, no content).","operationId":"headBankmasterCsv","responses":{"200":{"description":"Content can be downloaded with GET method."},"default":{"description":"Unexpected error."}}}},"/bankmaster.json":{"get":{"tags":["bankmaster"],"summary":"Bank master data as JSON object.","description":"Bank master data as a JSON object.","operationId":"getBankmasterJson","parameters":[{"name":"prettyPrint","in":"query","description":"Flag indicating whether the response is pretty printed.","required":false,"style":"form","explode":true,"schema":{"type":"boolean","default":true}}],"responses":{"200":{"description":"Bank master data as JSON object.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/BankMasterJsonResponse"}}}},"default":{"description":"Unexpected error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"head":{"tags":["bankmaster"],"summary":"Bank master data as JSON object (only head, no content).","description":"Bank master data as a JSON object (only head, no content).","operationId":"headBankmasterJson","responses":{"200":{"description":"Content can be downloaded with GET method."},"default":{"description":"Unexpected error."}}}},"/iban":{"get":{"tags":["iban"],"summary":"GET IBAN information","description":"Validates the international bank account number (IBAN) and returns detail information if available.","operationId":"getIbanInformation","responses":{"200":{"description":"IBAN information","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IbanResponse"}}}},"default":{"description":"Unexpected error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"parameters":[{"$ref":"#/components/parameters/query_iban"}]},"/healthcheck":{"get":{"tags":["healthcheck"],"summary":"Health check using GET method","description":"Returns a status message of the system.","operationId":"getHealthCheckForGet","responses":{"200":{"description":"Healthcheck successful","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthCheckResponse"}}}},"default":{"description":"Unexpected error.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}}},"head":{"tags":["healthcheck"],"summary":"Health check using GET method (only head, no content)","description":"Returns a status message of the system (only head, no content).","operationId":"headHealthCheckForGet","responses":{"200":{"description":"Content can be downloaded with GET method."},"default":{"description":"Unexpected error."}}}}},"components":{"schemas":{"BankMasterJsonResponse":{"required":["entries","readTime","totalSize","validOn"],"type":"object","properties":{"totalSize":{"type":"integer","description":"The total count of records in the entries list.","example":42},"validOn":{"type":"string","description":"Master data is edited and published on a daily basis. Therefore the data is valid on that exact date only.","format":"date","example":"2023-01-23"},"readTime":{"type":"string","description":"Date and time (according to ISO 8601) at which this response was created.","format":"date-time","example":"2023-01-21T10:52:05.1904957+01:00"},"entries":{"type":"array","items":{"$ref":"#/components/schemas/BankMasterBase"}}}},"BankMasterBase":{"required":["entryType","iid","validOn"],"type":"object","properties":{"iid":{"type":"integer","description":"Each bank / financial institution is identified by an IID (institution identification). IIDs are three to five digits long. QR-IIDs consist exclusively of numbers from 30000 to 31999.","example":9703},"validOn":{"type":"string","description":"Date to which the information in a record applies. This date (written as per ISO8601 standard) is identical for all records.","format":"date","example":"2023-01-23"},"entryType":{"type":"string","description":"\"New IID/QR-IID\" must be used instead of \"IID / QR-IID\" if entryType is BankMasterConcatenated.","example":"BankMaster","enum":["BankMasterConcatenated","BankMaster"]}},"discriminator":{"propertyName":"entryType"}},"BankMasterConcatenated":{"type":"object","allOf":[{"$ref":"#/components/schemas/BankMasterBase"},{"required":["newIid"],"properties":{"newIid":{"type":"integer","description":"If this field contains a number, the IID/QR IID is no longer valid (e.g. due to a merger) and is to be replaced by the \"New IID\" (so-called concatenation).","example":9950}}}]},"BankMaster":{"type":"object","allOf":[{"$ref":"#/components/schemas/BankMasterBase"},{"required":["bankOrInstitutionName","countryCode","euroSicParticipation","ipCustomerPaymentsChf","lsvBddChfParticipation","lsvBddEurParticipation","place","rtgsCustomerPaymentsChf","sicParticipation","zipCode"],"properties":{"sicIid":{"maxLength":6,"minLength":6,"type":"string","description":"This is always a 6-digit number and may be used only by SIC and euroSIC participants.","example":"097031"},"headQuarters":{"type":"integer","description":"IID of the headquarters of this participant. If this is the record of the headquarters itself, then this field contains the same value as the field IID.","example":9703},"iidType":{"type":"string","description":"Provides information as to the respective type of entry.","example":"HEADQUARTERS","enum":["HEADQUARTERS","MAIN_BRANCH","QR_IID"]},"qrIidBelongsTo":{"type":"integer","description":"IID of the bank/financial institution to which this QR IID is assigned to. It only contains a value, if the field iidType contains a QR_IID. Otherwise the field is empty.","example":9950},"bankOrInstitutionName":{"maxLength":60,"minLength":1,"type":"string","description":"Name of participant\nNotice:\n+ at the beginning of the name of the bank/institution = in liquidation\n++ at the beginning of the name of the bank/institution = alternation of purpose\n","example":"Schweizerische Nationalbank"},"streetName":{"maxLength":35,"type":"string","description":"Street of domicile address","example":"Bundesplatz"},"buildingNumber":{"maxLength":16,"type":"string","description":"Building number of domicile address","example":"55a"},"postCode":{"maxLength":16,"minLength":1,"type":"string","description":"Zip code/postcode","example":"3003"},"townName":{"maxLength":35,"minLength":1,"type":"string","description":"City","example":"Bern"},"country":{"maxLength":2,"type":"string","description":"2-digit alphabetical country code according to the ISO standard 3166.","example":"DE"},"bic":{"maxLength":11,"minLength":11,"type":"string","description":"BIC Formatted (XXXXXXXXXXX) (= 11-digit)","example":"SNBZCHZZXXX"},"sicParticipation":{"type":"boolean","description":"Participation in SIC.","example":true},"rtgsCustomerPaymentsChf":{"type":"boolean","description":"Available for RTGS customer payments.","example":true},"ipCustomerPaymentsChf":{"type":"boolean","description":"Available for IP customer payments.","example":true},"euroSicParticipation":{"type":"boolean","description":"Participation in euroSIC.","example":true},"lsvBddChfParticipation":{"type":"boolean","description":"Participation in LSV+/BDD in CHF (as debtor FI).","example":true},"lsvBddEurParticipation":{"type":"boolean","description":"Participation in LSV+/BDD in EUR (as debtor FI).","example":true}}}]},"IbanResponse":{"required":["validationResult"],"type":"object","properties":{"validationResult":{"$ref":"#/components/schemas/IbanValidationResult"},"iid":{"type":"integer","description":"Each bank / financial institution is identified by an IID (institution identification). IIDs are three to five digits long. QR-IIDs consist exclusively of numbers from 30000 to 31999.","example":9703}},"description":"IBAN validation result and IID if available."},"IbanValidationResult":{"type":"string","description":"Validation result. Possible values:\n- OK                    # This IBAN is formally correct\n- INVALID_COUNTRY_CODE  # This IBAN has an invalid country code\n- INVALID_LENGTH        # This IBAN has an invalid length\n- INVALID_FORMAT,       # This IBAN is formally incorrect according to ISO-13616-1\n- INVALID_CHECKSUM      # This IBAN has an invalid checksum\n- INVALID_IID           # This IBAN has an invalid CH or LI institution identification (IID)\n"},"Problem":{"required":["detail","status","title"],"type":"object","properties":{"type":{"type":"string","description":"An absolute URI that identifies the problem type.\nWe may provide human-readable documentation for the problem type in the future, when the URI is dereferenced.\n","format":"uri","example":"/problems/REQUEST_PARAMETER_VALIDATION_FAILED","default":"about:blank"},"title":{"type":"string","description":"A short, human readable summary of the problem type.\n","example":"Request parameter has missing or invalid values"},"status":{"maximum":600,"exclusiveMaximum":true,"minimum":100,"type":"integer","description":"The HTTP status code generated by the origin server for this occurrence\nof the problem.\n","format":"int32","example":400},"detail":{"type":"string","description":"A human readable explanation specific to this occurrence of the\nproblem.\n","example":"The submitted request contains invalid or missing request parameters which cannot be processed."},"instance":{"type":"string","description":"An absolute URI that identifies the specific occurrence of the problem.\nIt may or may not yield further information if dereferenced.\n","format":"uri","example":"/api/epcd/bankmaster/v3/public/errors/EPCD0090000001/provided-D"},"metadata":{"$ref":"#/components/schemas/GenericObject"}}},"GenericObject":{"required":["@type","data"],"type":"object","properties":{"@type":{"type":"string","description":"The field \"@type\" contains a URI/name identifying the type.\n","example":"types.example.com/standard/id"},"data":{"type":"object","description":"An object of type @type containing custom fields.\n","example":"-"}},"description":"Structured type that contains an object and its type.\n","example":"When associated with a 'Problem', it typically contains values which caused the failure and similar. May not contain sensitive CID.\n"},"HealthCheckResponse":{"required":["apiVersion","applicationVersion","environmentStage","message","receivedHeaders","requestDateTime"],"type":"object","properties":{"message":{"maxLength":100,"type":"string","description":"Response message from health check.","example":"The health check GET request was successfully received and processed."},"requestDateTime":{"type":"string","description":"According to RFC3339, section 5.6 in ISO 8601 with timezone and milliseconds.","format":"date-time","example":"2023-01-21T10:52:05.1904957+01:00"},"receivedHeaders":{"type":"array","items":{"type":"object","properties":{"headerName":{"type":"string","description":"The name of the provided header.","example":"Accept"},"headerValue":{"type":"string","description":"As received","example":"application/json"}}}},"environmentStage":{"type":"string","description":"The instance to which the request was sent to.","example":"x"},"applicationVersion":{"type":"string","description":"The version of the API backend.","example":"4.5.0-julia"},"apiVersion":{"type":"string","description":"The version of the API.","example":"1.0.23"}}}},"responses":{"BadRequest":{"description":"Bad request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"Unauthorized":{"description":"Unauthorized","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"Forbidden":{"description":"Forbidden","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}},"NotFound":{"description":"The specified resource was not found","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Problem"}}}}},"parameters":{"query_iban":{"name":"iban","in":"query","description":"International bank account number (IBAN) parameter of the API call.","required":true,"style":"form","explode":true,"schema":{"maxLength":100,"minLength":10,"type":"string","example":"CHpp bbbb bkkk kkkk kkkk k"}}}}}