openapi: 3.2.0
info:
  title: debiX Deprecated API
  version: 2.36.0
  description: Deprecated endpoints.
servers:
- url: https://api.six-group.com/api/debix/bank/cardtoken/v2
  description: PROD - Internet
- url: https://api-preprod.np.six-group.com/api/debix/bank/cardtoken/v2
  description: TEST - Internet
- url: https://api.six.ssfn.ch/api/debix/bank/cardtoken/v2
  description: PROD - SSFN
- url: https://api-preprod.np.six.ssfn.ch/api/debix/bank/cardtoken/v2
  description: TEST - SSFN
- url: https://api.p2p.six-group.com/api/debix/bank/cardtoken/v2
  description: PROD - P2P
- url: https://api-preprod.np.p2p.six-group.com/api/debix/bank/cardtoken/v2
  description: TEST - P2P
security: []
tags:
- name: Deprecated
  description: Deprecated endpoints.
paths:
  /cards/{cardToken}/encrypt-card-data:
    post:
      tags:
      - Deprecated
      summary: Returns encrypted card data
      description: 'Deprecated, use one of `POST /cards/{cardToken}/apple-pay/provisioning-data`,

        `POST /cards/{cardToken}/google-pay/provisioning-data`,

        `POST /cards/{cardToken}/samsung-pay/provisioning-data` instead.


        Returns the encrypted card data for the provisioning of a funding debit card, specified by its card token, into a wallet with Thales SDK.


        In addition to standard application error codes, the following codes can be returned:

        * 4430 - UNKNOWN_CARD

        * 4432 - BANK_CLEARING_NUMBER_NOT_CONFIGURED

        * 4436 - CARD_INACTIVE

        * 4449 - TOKENIZATION_NOT_SUPPORTED

        * 4483 - OPERATION_NOT_ALLOWED_FOR_BANK_CARD'
      operationId: getEncryptedCardData
      parameters:
      - $ref: '#/components/parameters/RequestIdHeader'
      - $ref: '#/components/parameters/IssuerTraceIdHeader'
      - in: path
        name: cardToken
        description: Card token
        required: true
        schema:
          $ref: '#/components/schemas/CardToken'
      requestBody:
        description: Card data to encrypt.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CardEncryptionRequest'
        required: true
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CardEncryptionResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        '404':
          description: Not found or card is deleted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
        default:
          description: Unexpected error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BankApiError'
components:
  parameters:
    RequestIdHeader:
      in: header
      name: x-request-id
      description: A unique identifier for a request and response pair.
      schema:
        type: string
    IssuerTraceIdHeader:
      in: header
      name: issuer-trace-id
      description: A issuer‑provided unique trace identifier to correlate the complete flow started by this request.
      schema:
        type: string
        minLength: 1
        maxLength: 26
  schemas:
    CardEncryptionSubCardType:
      description: Specifies the sub card type of the card, if any. Set the 'value' property to the sub card type if available; otherwise, set it to 'null'. Providing this object avoids additional requests to Worldline to retrieve the card's PAN.
      type: object
      properties:
        value:
          $ref: '#/components/schemas/SubCardType'
    CardTokenExtension:
      description: Extension to card token to identify a card.
      type: object
      required:
      - cardExpiry
      - cardSequenceNumber
      properties:
        cardExpiry:
          $ref: '#/components/schemas/YearMonth'
        cardSequenceNumber:
          $ref: '#/components/schemas/CardSequenceNumber'
    CardSequenceNumber:
      description: Sequence number of the card.
      type: integer
      format: int32
      minimum: 0
      maximum: 9
      examples:
      - 2
    SubCardType:
      description: Sub card type that is linked to a dedicated BIN range and specifies a product like 'Platinum', 'EUR' or 'Student'. It must be configured in bank master data, otherwise field can not be used.
      type: string
      minLength: 2
      maxLength: 2
      examples:
      - A1
    CardToken:
      description: Unique card token of a card.
      type: string
      pattern: ^CTK-[0-9a-fA-F]{32}$
      minLength: 36
      maxLength: 36
      examples:
      - CTK-54716A6080B14CF19CEA3C170F85B1DD
    CardEncryptionRequest:
      description: Contains data for the card encryption.
      type: object
      required:
      - cardTokenExtension
      - cardholderName
      properties:
        cardTokenExtension:
          $ref: '#/components/schemas/CardTokenExtension'
        cardholderName:
          $ref: '#/components/schemas/CardHolderName'
        subCardType:
          $ref: '#/components/schemas/CardEncryptionSubCardType'
    YearMonth:
      type: object
      required:
      - month
      - year
      properties:
        month:
          description: The two digit number of the month starting at 01 for January.
          type: string
          examples:
          - '01'
        year:
          description: The last two digits of the year.
          type: string
          examples:
          - '21'
    ErrorDetail:
      type: object
      required:
      - errorCode
      properties:
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          examples:
          - 42
        description:
          description: The message describing the error.
          type: string
          examples:
          - The answer to the great question of Life, the Universe and Everything.
    CardEncryptionResponse:
      description: Contains the encrypted card data for the provisioning of the card with Thales SDK.
      type: object
      required:
      - encryptedCardData
      - panSuffix
      - publicKeyId
      properties:
        encryptedCardData:
          description: 'Encrypted card data in PKCS#7 format as specified by Thales SDK.

            Once deciphered, the JSON payload contains the following fields:

            - issuerCardRefId

            - fpan

            - exp

            - cardholderName

            '
          type: string
          maxLength: 1500
        primaryAccountIdentifier:
          description: Primary account id; currently only for Apple Pay and only if the card has already been digitized on at least one Apple device.
          type: string
          minLength: 1
        panSuffix:
          description: Last four digits of the pan.
          type: string
          minLength: 4
          maxLength: 4
          examples:
          - '0123'
        publicKeyId:
          description: Id of the public key used to encrypt the card data.
          type: string
          examples:
          - tshKid
    BankApiError:
      description: Information about an error on API requests.
      type: object
      required:
      - applicationError
      - errorCode
      properties:
        applicationError:
          description: The name of the application error.
          type: string
          examples:
          - OPERATION_FAILED
        errorCode:
          description: Code describing the error.
          type: integer
          format: int32
          examples:
          - 5001
        description:
          description: A human readable explanation specific to this occurrence of the problem.
          type: string
          examples:
          - The requested operation failed.
        errors:
          description: List of error details.
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ErrorDetail'
        errorToken:
          description: A generated error token referencing the actual error and logged on the server.
          type: string
          examples:
          - 618503aa-7beb-4d3d-986e-36f1fdbd0e13
    CardHolderName:
      description: The cardholder name as printed on the card.
      type: string
      minLength: 2
      maxLength: 26
      examples:
      - Peter Meier
