{"openapi":"3.0.2","info":{"title":"Security Settlement Information - External API","description":"Settlement Info Reporting","contact":{"email":"am-support@six-group.com"},"license":{"name":"Attribution-NoDerivatives 4.0 International (CC BY-ND 4.0)","url":"https://creativecommons.org/licenses/by-nd/4.0/"},"version":"1.0.7"},"servers":[{"url":"https://api.six-group.com/custody/cockpit/setlInfo/v1"},{"url":"https://api.p2p.six-group.com/custody/cockpit/setlInfo/v1"},{"url":"https://api.fip.six-group.com/custody/cockpit/setlInfo/v1"}],"tags":[{"name":"DetailedSettlementInformation","description":"Query for detailed settlement information about a security"},{"name":"BulkSubscriptionManagement","description":"Manage the list of securities a business partner susbscribes to."},{"name":"BulkSubscriptionResults","description":"Obtain the (basic) settlement information for securities included in the business partner's subscription."}],"paths":{"/detailed-settlement-information/securities/{isin}":{"get":{"tags":["DetailedSettlementInformation"],"summary":"Get detailed settlement information for a security.","description":"Get detailed settlement information for a security identified by its ISIN.","operationId":"getDetailedSettlementInfo","parameters":[{"$ref":"#/components/parameters/SecurityID"},{"$ref":"#/components/parameters/CorrelationId"}],"responses":{"200":{"$ref":"#/components/responses/Http200DetailedSettlementInfo"},"400":{"$ref":"#/components/responses/Http400ErrorResponse_DetailedQuery"},"401":{"$ref":"#/components/responses/Http401ErrorResponse"},"403":{"$ref":"#/components/responses/Http403ErrorResponse"},"404":{"$ref":"#/components/responses/Http404ErrorResponse_NoIsin"},"429":{"$ref":"#/components/responses/Http429ErrorResponse"},"500":{"$ref":"#/components/responses/Http500ErrorResponse"},"501":{"$ref":"#/components/responses/Http501ErrorResponse"},"503":{"$ref":"#/components/responses/Http503ErrorResponse"},"504":{"$ref":"#/components/responses/Http504ErrorResponse"}}}},"/bulk-subscription/securities/bulk-set":{"post":{"tags":["BulkSubscriptionManagement"],"summary":"Set the subscription of a business partner","description":"Sets the subscription (list of securities identified by their ISIN). The previous subscription is overwritten if and only if the operation is successful.\n\nIf the request body includes bad data (typically, one element in the array is an invalid ISIN), 400 is returned and the subscription is not updated.","operationId":"setSubscription","parameters":[{"$ref":"#/components/parameters/CorrelationId"}],"requestBody":{"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/SubscriptionRequestBody"}}},"required":true},"responses":{"204":{"$ref":"#/components/responses/Http204NoContent"},"400":{"$ref":"#/components/responses/Http400ErrorResponse_BulkSet"},"401":{"$ref":"#/components/responses/Http401ErrorResponse"},"403":{"$ref":"#/components/responses/Http403ErrorResponse"},"413":{"$ref":"#/components/responses/Http413ErrorResponse"},"429":{"$ref":"#/components/responses/Http429ErrorResponse"},"500":{"$ref":"#/components/responses/Http500ErrorResponse"},"503":{"$ref":"#/components/responses/Http503ErrorResponse"},"504":{"$ref":"#/components/responses/Http504ErrorResponse"}}}},"/bulk-subscription/securities/{isin}":{"summary":"A security contained in a subscription list of a business partner for the bulk service.","put":{"tags":["BulkSubscriptionManagement"],"summary":"Add a security to the subscription","description":"Addition of a security (identified by its ISIN) to the subscription of a business partner for the bulk service.\nThis operation is idempotent.","operationId":"addSecurityToSubscription","responses":{"204":{"$ref":"#/components/responses/Http204NoContent"},"400":{"$ref":"#/components/responses/Http400ErrorResponse_AddIsin"},"401":{"$ref":"#/components/responses/Http401ErrorResponse"},"403":{"$ref":"#/components/responses/Http403ErrorResponse"},"429":{"$ref":"#/components/responses/Http429ErrorResponse"},"500":{"$ref":"#/components/responses/Http500ErrorResponse"},"503":{"$ref":"#/components/responses/Http503ErrorResponse"},"504":{"$ref":"#/components/responses/Http504ErrorResponse"}}},"delete":{"tags":["BulkSubscriptionManagement"],"summary":"Delete a security from the subscription","description":"Removal of a security (identified by its ISIN) from the subscription of a business partner for the bulk service.","operationId":"deleteSecurityFromSubscription","responses":{"204":{"$ref":"#/components/responses/Http204NoContent"},"400":{"$ref":"#/components/responses/Http400ErrorResponse_RemoveIsin"},"401":{"$ref":"#/components/responses/Http401ErrorResponse"},"403":{"$ref":"#/components/responses/Http403ErrorResponse"},"404":{"$ref":"#/components/responses/Http404ErrorResponse_NoIsin"},"429":{"$ref":"#/components/responses/Http429ErrorResponse"},"500":{"$ref":"#/components/responses/Http500ErrorResponse"},"503":{"$ref":"#/components/responses/Http503ErrorResponse"},"504":{"$ref":"#/components/responses/Http504ErrorResponse"}}},"parameters":[{"$ref":"#/components/parameters/SecurityID"},{"$ref":"#/components/parameters/CorrelationId"}]},"/bulk-subscription/resultsFile":{"summary":"The (basic) settlement information for the securities in the business partner's subscription.","get":{"tags":["BulkSubscriptionResults"],"summary":"Get the (basic) settlement information for all securities in the business partner's subscription as a gzipped file.","description":"Get the basic settlement information for all securities defined by the business partner in its subscription as a gzipped file.\n\nSettlement information is previous business day and the subscription list taken into account is the one available on the server before midnight.","operationId":"getBasicSettlementInfoForSubscriptionAsFile","parameters":[{"$ref":"#/components/parameters/CorrelationId"},{"$ref":"#/components/parameters/IfNoneMatch"}],"responses":{"200":{"$ref":"#/components/responses/Http200BasicSettlementInfoFile"},"304":{"$ref":"#/components/responses/Http304NotModified"},"400":{"$ref":"#/components/responses/Http400ErrorResponse_GetResults"},"401":{"$ref":"#/components/responses/Http401ErrorResponse"},"403":{"$ref":"#/components/responses/Http403ErrorResponse"},"404":{"$ref":"#/components/responses/Http404ErrorResponse_NoResults"},"429":{"$ref":"#/components/responses/Http429ErrorResponse"},"500":{"$ref":"#/components/responses/Http500ErrorResponse"},"503":{"$ref":"#/components/responses/Http503ErrorResponse"},"504":{"$ref":"#/components/responses/Http504ErrorResponse"}}}},"/bulk-subscription/securities":{"summary":"Subscription list of securities for a business partner.","description":"Manage the subscription list of securities for a business partner.","get":{"tags":["BulkSubscriptionManagement"],"summary":"Get the list of securities the business partner is subscribed to.","description":"Get the subscription list of securities for a business partner.","operationId":"getSubscription","parameters":[{"$ref":"#/components/parameters/CorrelationId"},{"$ref":"#/components/parameters/IfNoneMatch"}],"responses":{"200":{"$ref":"#/components/responses/Http200Subscription"},"304":{"$ref":"#/components/responses/Http304NotModified"},"400":{"$ref":"#/components/responses/Http400ErrorResponse_GetSubscription"},"401":{"$ref":"#/components/responses/Http401ErrorResponse"},"403":{"$ref":"#/components/responses/Http403ErrorResponse"},"429":{"$ref":"#/components/responses/Http429ErrorResponse"},"500":{"$ref":"#/components/responses/Http500ErrorResponse"},"503":{"$ref":"#/components/responses/Http503ErrorResponse"},"504":{"$ref":"#/components/responses/Http504ErrorResponse"}}}}},"components":{"schemas":{"XCorrelationIdType":{"pattern":"^[0-9A-Fa-f]{8}-?[0-9A-Fa-f]{4}-?4[0-9A-Fa-f]{3}-?[89ABab][0-9A-Fa-f]{3}-?[0-9A-Fa-f]{12}(#[1-9][0-9]*)?$","type":"string","description":"Value of the correlation ID for the server, i.e., a UUID v4 (with or without the dash to separate the blocks), optionally followed by a '#' and a positive integer."},"Isin":{"pattern":"^[A-Z]{2}([A-Z0-9]){9}[0-9]$","type":"string","description":"The ISIN (International Securities Identification Number) uniquely identifies a financial instrument. See ISO 6166:2021: Financial services — International securities identification number (ISIN).","example":"CH0038863350"},"ApiGwError":{"required":["message"],"type":"object","properties":{"message":{"type":"string","description":"A human-readable explanation specific to this error.","example":"Unauthorized"}},"description":"Description of an error as provided by the API GW to help remediation."},"Error":{"required":["message"],"type":"object","properties":{"message":{"type":"string","description":"A human-readable explanation specific to this error.","example":"Unauthorized"},"errorDetail":{"description":"Additional information about the error.","allOf":[{"$ref":"#/components/schemas/ErrorDetail"}]}},"description":"Description of an error to help remediation."},"ErrorDetail":{"required":["status"],"type":"object","properties":{"type":{"type":"string","description":"A URI reference (RFC3986) that describes the problem type (in the context of the provided API).\n\nShould resolve to a human-readable document.","format":"uri","default":"about:blank"},"title":{"type":"string","description":"A short, human-readable summary of the problem type in English.","example":"Not Found"},"status":{"maximum":599,"minimum":100,"type":"integer","description":"The HTTP status code (RFC7231, Section 6) generated by the origin server for this occurrence of the problem.","format":"int32","example":400},"detail":{"type":"string","description":"A human-readable explanation specific to this occurrence of the problem.","example":"ISIN 'US012071998' does not exist."},"instance":{"type":"string","description":"A URI reference (RFC3986) that identifies the specific occurrence of the problem. It may or may not yield further information if dereferenced.","format":"uri","example":"https://www.example.com/books/1234"}},"description":"Detailed description of an error to help remediation. It follows RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807)."},"ParameterLocation":{"type":"string","description":"The location of the parameter in question","enum":["BODY","PATH","QUERY","HEADER"]},"InvalidParameter":{"required":["in","name","value"],"type":"object","properties":{"in":{"description":"Location of the invalid parameter.","allOf":[{"$ref":"#/components/schemas/ParameterLocation"}]},"name":{"type":"string","description":"Name of the invalid parameter."},"reason":{"type":"string","description":"The reason why the parameter's value is invalid."},"value":{"type":"string","description":"The invalid value."}},"description":"Description of a parameter with invalid value."},"MissingParameter":{"required":["in","name"],"type":"object","properties":{"in":{"description":"Location of the missing parameter.","allOf":[{"$ref":"#/components/schemas/ParameterLocation"}]},"name":{"type":"string","description":"Name of the missing parameter."},"reason":{"type":"string","description":"The reason why the parameter's value is missing."}},"description":"Description of a missing parameter."},"Error400":{"required":["message"],"type":"object","properties":{"message":{"type":"string","description":"A human-readable explanation specific to this error.","example":"Unauthorized"},"errorDetail":{"description":"Additional information about the error.","allOf":[{"$ref":"#/components/schemas/ErrorDetail400"}]}},"description":"Description of a 400 error to help remediation."},"ErrorDetail400":{"type":"object","description":"Detailed description of a 400 error to help remediation. It extends RFC 7807 (https://datatracker.ietf.org/doc/html/rfc7807) with missing and invalid parameters information.","allOf":[{"$ref":"#/components/schemas/ErrorDetail"},{"properties":{"invalidParams":{"minItems":1,"type":"array","description":"List of parameters with invalid values.","items":{"$ref":"#/components/schemas/InvalidParameter"}},"missingParams":{"minItems":1,"type":"array","description":"List of missing parameters.","items":{"$ref":"#/components/schemas/MissingParameter"}}}}]},"BpId":{"pattern":"^[A-Z]{2}[0-9]{6}$","type":"string","description":"Identifier of a business partner (BP) within SIX SIS.","example":"CH123456"},"PositionType":{"pattern":"^[A-Z]{2}$","type":"string","description":"Market segregation code, aka position type.","example":"NO"},"BookingBasis":{"type":"string","description":"The booking basis for the security:\n * FAMT: face amount\n * UNIT: unit","example":"UNIT","enum":["FAMT","UNIT"]},"PropertiesBasicResource":{"required":["id","type"],"type":"object","properties":{"id":{"type":"string","description":"Identifier of the resource","format":"uuid"},"type":{"maxLength":255,"minLength":1,"type":"string","description":"Type of the resource."}},"description":"Properties of any resource."},"AnyBIC":{"pattern":"^[A-Z]{6}[A-Z2-9][A-NP-Z0-9]([A-Z0-9]{3})?$","type":"string","description":"Business Identifier Code (BIC) 8 or 11 according to ISO 9362:2014.","example":"CITIUS33XXX"},"SdrtAttributesOnISIN":{"type":"object","properties":{"eligibilityCrossBorder":{"type":"boolean","description":"SDRT eligibility for cross-border orders. If missing, the information is unknown.","example":false},"eligibilityInHouse":{"type":"boolean","description":"SDRT eligibility for SIX SIS inhouse orders. If missing, the information is unknown.","example":false},"inhouseForbidden":{"type":"boolean","description":"SDRT SIX SIS inhouse transactions forbidden flag. If missing, the information is unknown.","example":false}},"description":"SDRT attributes for the security"},"Subscription":{"maxItems":400000,"type":"array","description":"List of securities (identified by ISIN) a business partner is subscribed to for the bulk service.","example":["US0378331005","US5949181045"],"items":{"$ref":"#/components/schemas/Isin"}},"SubscriptionRequestBodyData":{"required":["attributes","type"],"type":"object","properties":{"type":{"maxLength":255,"minLength":1,"type":"string","description":"Type of the resource."},"attributes":{"$ref":"#/components/schemas/ResourceSubscriptionAttributes"}},"description":"List of securities (identified by ISIN) a business partner is subscribed to for the bulk service.","example":{"type":"Subscription","attributes":{"subscription":["US0378331005","US5949181045"]}}},"SubscriptionRequestBody":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/SubscriptionRequestBodyData"}},"description":"List of securities (identified by ISIN) a business partner is subscribed to for the bulk service.","example":{"data":{"type":"Subscription","attributes":{"subscription":["US0378331005","US5949181045"]}}}},"URL":{"maxLength":2048,"minLength":1,"type":"string","description":"Uniform Resource Locator (URL) as defined in RFC 1738 (https://datatracker.ietf.org/doc/html/rfc1738)."},"ETag":{"pattern":"^(W\\/)?\"([^\"]|\\\\\")*\"$","type":"string","description":"The RFC7232 ETag (Entity Tag) header field (see https://www.rfc-editor.org/rfc/rfc7232#section-2.3) in a response provides the current entity-tag for the selected resource. An entity-tag is an opaque identifier for different versions of a resource over time, regardless whether multiple versions are valid at the same time. An entity-tag consists of an opaque quoted string, possibly prefixed by a weakness indicator ('W/').","example":"W/\"xyzzy\""},"FinancialInstitutionName":{"required":["name"],"type":"object","properties":{"name":{"maxLength":72,"minLength":1,"type":"string","description":"name"}},"description":"Name of a financial institution.","example":{"name":"SIX SIS AG"}},"FinancialInstitutionBIC":{"required":["bic"],"type":"object","properties":{"bic":{"$ref":"#/components/schemas/AnyBIC"}},"description":"BIC of a financial institution","example":{"bic":"INSECHZZXXX"}},"PrincipalCustodianReference":{"type":"object","description":"Reference to the principal custodian, i.e., a BIC or (if none available) the name of the custodian.","example":{"bic":"INSECHZZXXX"},"oneOf":[{"$ref":"#/components/schemas/FinancialInstitutionBIC"},{"$ref":"#/components/schemas/FinancialInstitutionName"}]},"BasicSettlementInfo":{"description":"Basic settlement information for a security, with custodians-specific information.","allOf":[{"$ref":"#/components/schemas/BasicSettlementInfoWithoutCustodians"},{"type":"object","properties":{"custodians":{"minItems":1,"type":"array","description":"Baisc settlement information for a security per custodian (aka 'market'). If not provided, the security is not cross-border eligible.","items":{"$ref":"#/components/schemas/BasicSettlementInfoPerCustodian"}}}}]},"BasicSettlementInfoPerCustodian":{"required":["bic"],"type":"object","properties":{"bic":{"description":"Identifier of the custodian.","example":"MELNUS3PGSS","allOf":[{"$ref":"#/components/schemas/AnyBIC"}]},"settlementEligibility":{"type":"boolean","description":"Settlement eligibility. If missing, to be interpreted as SIX SIS needs to  be contacted.","example":true},"marketSegregationCode":{"description":"Market segregation code, aka position type.","example":"NO","allOf":[{"$ref":"#/components/schemas/PositionType"}]},"sdrtCountry":{"maxItems":2,"minItems":1,"type":"array","description":"SDRT country code.","example":["GB"],"items":{"$ref":"#/components/schemas/PositionType"}}},"description":"Basic settlement information for a security for a custodian (aka 'market')."},"BasicSettlementInfoWithoutCustodians":{"required":["bookingBasis","inHouseEligibility","isin","limitedPartnership","lowPriceSecurity","marketSegregated","t2sEligibility"],"type":"object","properties":{"isin":{"description":"Identifier of the financial instrument.","example":"US0378331005","allOf":[{"$ref":"#/components/schemas/Isin"}]},"limitedPartnership":{"type":"boolean","description":"Limited partnership security flag.","example":false},"lowPriceSecurity":{"type":"boolean","description":"Security under LPS (Low Price Security) SIX SIS policy.","example":false},"inHouseEligibility":{"type":"boolean","description":"SIX SIX inhouse eligibility."},"t2sEligibility":{"type":"boolean","description":"SIX SIX T2S eligibility."},"t2sIssuerCSD":{"description":"SIX SIS issuer CSD/Technical issuer CSD in T2S.","example":"CITIUS33XXX","allOf":[{"$ref":"#/components/schemas/AnyBIC"}]},"marketSegregated":{"type":"boolean","description":"Market segregated security (security separated by market)."},"sdrt":{"description":"SDRT attributes. If missing, the information is unknown.","allOf":[{"$ref":"#/components/schemas/SdrtAttributesOnISIN"}]},"bookingBasis":{"description":"Booking Basis SIX SIS:\n * FAMT: face amount\n * UNIT: unit.","example":"UNIT","allOf":[{"$ref":"#/components/schemas/BookingBasis"}]},"principalCustodian":{"description":"BIC (or name if no BIC is available) of the principal custodian for the security.","example":{"bic":"INSECHZZXXX"},"allOf":[{"$ref":"#/components/schemas/PrincipalCustodianReference"}]}},"description":"Basic settlement information for a security, without custodians-specific information.","example":{"isin":"GB00BP6MXD84","limitedPartnership":false,"lowPriceSecurity":false,"inHouseEligibility":true,"t2sEligibility":false,"marketSegregated":false,"sdrt":{"eligibilityCrossBorder":true,"eligibilityInHouse":true,"inhouseForbidden":false},"bookingBasis":"UNIT","principalCustodian":{"bic":"PARBGB2LXXX"}}},"DetailedSettlementInfo":{"description":"Detailed settlement information for a security, with custodians-specific information.","allOf":[{"$ref":"#/components/schemas/DetailedSettlementInfoWithoutCustodians"},{"type":"object","properties":{"custodians":{"minItems":1,"type":"array","description":"Detailed settlement information for a security per custodian (aka 'market'). If not provided, the security is not cross-border eligible.","items":{"$ref":"#/components/schemas/DetailedSettlementInfoPerCustodian"}}}}]},"DetailedSettlementInfoPerCustodian":{"required":["bookingBasis","bpId","externalOrdinarioAccount","marketGuides","name"],"description":"Detailed settlement information for a security for a custodian (aka 'market').","allOf":[{"$ref":"#/components/schemas/BasicSettlementInfoPerCustodian"},{"type":"object","properties":{"bpId":{"description":"SIX SIS BP-ID for the custodian.","example":"CA100045","allOf":[{"$ref":"#/components/schemas/BpId"}]},"name":{"maxLength":72,"type":"string","description":"Custodian name.","example":"CIBC MELLON TRUST COMPANY, TORONTO"},"participantId":{"maxLength":200,"type":"string","description":"Participant ID with local CSD","example":"DTC: 00000908FRB: ABA 021000089 A/C CUST"},"accountT2S":{"maxLength":200,"type":"string","description":"T2S safekeeping account.","example":"DAKV71210000"},"externalOrdinarioAccount":{"maxLength":200,"type":"string","description":"External ordinario account number at local custodian.","example":"71210000"},"settlementEligibilityNotes":{"maxLength":720,"type":"string","description":"Settlement eligibility notes/restrictions.","example":"RFP: Please contact your dedicated settlement desk"},"bookingBasis":{"description":"Booking Basis for local custodian:\n * FAMT: face amount\n * UNIT: unit.","allOf":[{"$ref":"#/components/schemas/BookingBasis"}]},"marketGuides":{"minItems":1,"type":"array","description":"Hyperlink (URL) to the relevant SIX SIS Market Guides for this custodian as well as the market name.","example":[{"marketName":"USA - Citibank","url":"https://sws.six-group.com/private/en/home/market-guide/overview/usa/usa-citibank.html"}],"items":{"$ref":"#/components/schemas/MarketGuideInfo"}}}}]},"MarketGuideInfo":{"required":["url"],"type":"object","properties":{"marketName":{"maxLength":50,"minLength":1,"type":"string","description":"SIX SIS name for the market. If not provided, no market could be univoquely identified, in which case the sibling 'url' property provides a link to all market guides."},"url":{"description":"Hyperlink (URL) to relevant SIX SIS Market Guide.","example":"https://sws.six-group.com/private/en/home/market-guide/overview/usa/usa-citibank.html","allOf":[{"$ref":"#/components/schemas/URL"}]}},"description":""},"DetailedSettlementInfoWithoutCustodians":{"required":["bookingBasis"],"description":"Detailed settlement information for a security, without custodians-specific information.","allOf":[{"$ref":"#/components/schemas/BasicSettlementInfoWithoutCustodians"}]},"ResourceSubscription":{"required":["attributes"],"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/ResourceSubscriptionAttributes"}},"description":"","allOf":[{"$ref":"#/components/schemas/PropertiesBasicResource"}]},"ResourceSubscriptionAttributes":{"required":["subscription"],"type":"object","properties":{"subscription":{"$ref":"#/components/schemas/Subscription"}},"description":"A subscription (i.e., list of ISINs) for a business partner as a resource."},"ResourceDetailedSettlementInfo":{"description":"Detailed settlement information for a security, including custodians-specific information.","allOf":[{"$ref":"#/components/schemas/PropertiesBasicResource"},{"required":["attributes"],"type":"object","properties":{"attributes":{"$ref":"#/components/schemas/DetailedSettlementInfo"}}}]},"ResourceSubscriptionBasicSettlementInfo":{"required":["attributes","id","type"],"type":"object","properties":{"id":{"type":"string","description":"Identifier of the resource","format":"uuid"},"type":{"maxLength":255,"minLength":1,"type":"string","description":"Type of the resource, i.e., 'BasicSettlementDetails'."},"attributes":{"$ref":"#/components/schemas/BasicSettlementInfo"}},"description":"Resource modelling the basic settlement information for a security included in a BP's subscription."},"ResponseDetailedSettlementInfoQuery":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ResourceDetailedSettlementInfo"}},"description":"HTTP 200 response (OK) for the query about detailed security settlement information."},"ResponseSubscriptionQuery":{"required":["data"],"type":"object","properties":{"data":{"$ref":"#/components/schemas/ResourceSubscription"}},"description":"HTTP 200 response (OK) for the query about the subscription of a business partner for the bulk service."},"ResponseSubscriptionBasicSettlementInfoQuery":{"required":["data"],"type":"object","properties":{"meta":{"$ref":"#/components/schemas/MetaSubscriptionBasicSettlementInfoQuery"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ResourceSubscriptionBasicSettlementInfo"}}},"description":"Response for a successful query for the basic settlement information for all securities included in a BP's subscription."},"MetaSubscriptionBasicSettlementInfoQuery":{"required":["bpId","timestamp"],"type":"object","properties":{"bpId":{"$ref":"#/components/schemas/BpId"},"timestamp":{"type":"string","description":"Date and time when the data was generated.","format":"date-time","example":"2023-01-31T05:00:00.594Z"}},"description":"Meta-information returned with the basic settlement information for all securities defined in the business partner's subscription"}},"responses":{"Http200DetailedSettlementInfo":{"description":"Detailed settlement information for a security.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/ResponseDetailedSettlementInfoQuery"},"examples":{"US0378331005":{"value":{"data":{"id":"95b1b467-bd69-4436-8181-96c16408c230","type":"DetailedSettlementInfo","attributes":{"isin":"US0378331005","limitedPartnership":false,"lowPriceSecurity":false,"inHouseEligibility":true,"t2sEligibility":false,"marketSegregated":true,"sdrt":{"eligibilityCrossBorder":false,"eligibilityInHouse":false,"inhouseForbidden":false},"bookingBasis":"UNIT","principalCustodian":{"bic":"CITIUS33XXX"},"custodians":[{"bic":"MELNUS3PGSS","settlementEligibility":true,"marketSegregationCode":"NO","bpId":"CA100045","name":"CIBC MELLON TRUST COMPANY","externalOrdinarioAccount":"SXSF1001002","bookingBasis":"UNIT","marketGuides":[{"marketName":"Canada","url":"https://sws.six-group.com/private/en/home/market-guide/overview/canada.html"}]},{"bic":"MELNUS3PGSS","settlementEligibility":true,"marketSegregationCode":"NO","sdrtCountry":["CH"],"bpId":"DE100408","name":"CLEARSTREAM BANKING AG","participantId":"7121","accountT2S":"DAKV7121000","externalOrdinarioAccount":"71210000","settlementEligibilityNotes":"ATF:PLS RE-INSTRUCT BY MEANS OF DFP/RFP","bookingBasis":"UNIT","marketGuides":[{"marketName":"Germany","url":"https://sws.six-group.com/private/en/home/market-guide/overview/germany-cbf.html"}]}]}}}},"GB00BP6MXD84":{"value":{"data":{"id":"f184c1f8-e86a-4c5c-beb9-d53caaf31aaf","type":"DetailedSettlementInfo","attributes":{"isin":"GB00BP6MXD84","limitedPartnership":false,"lowPriceSecurity":false,"inHouseEligibility":true,"t2sEligibility":false,"marketSegregated":false,"sdrt":{"eligibilityCrossBorder":true,"eligibilityInHouse":true,"inhouseForbidden":false},"bookingBasis":"UNIT","principalCustodian":{"bic":"PARBGB2LXXX"},"custodians":[{"bic":"MGTCBEBEECL","settlementEligibility":false,"sdrtCountry":["NO"],"bpId":"BE100519","name":"EUROCLEAR BANK SA/NV","participantId":"23981","externalOrdinarioAccount":"23981","settlementEligibilityNotes":"ISIN NOT TRANSFERABLE VIA THIS CUSTODIAN","bookingBasis":"UNIT","marketGuides":[{"marketName":"Eurobonds - Euroclear","url":"https://sws.six-group.com/private/en/home/market-guide/overview/other/eurobonds/eurobonds-euroclear-bank-brussels-eb.html"},{"marketName":"Ireland","url":"https://sws.six-group.com/private/en/home/market-guide/overview/ireland.html"}]},{"bic":"DAKVDEFFXXX","settlementEligibility":true,"sdrtCountry":["DE"],"bpId":"DE100408","name":"CLEARSTREAM BANKING AG","participantId":"7121","accountT2S":"DAKV7121000","externalOrdinarioAccount":"71210000","settlementEligibilityNotes":"ATF:ATF NOT APPLICABLE IN THIS MARKET","bookingBasis":"UNIT","marketGuides":[{"marketName":"Germany","url":"https://sws.six-group.com/private/en/home/market-guide/overview/germany-cbf.html"}]}]}}}},"NL0000235190":{"value":{"data":{"id":"7b467b3f-23aa-4f84-b562-d880ccd70bcc","type":"DetailedSettlementInfo","attributes":{"isin":"NL0000235190","limitedPartnership":false,"lowPriceSecurity":false,"inHouseEligibility":true,"t2sEligibility":true,"t2sIssuerCSD":"NECINL2AXXX","marketSegregated":true,"sdrt":{"eligibilityCrossBorder":false,"eligibilityInHouse":false,"inhouseForbidden":false},"bookingBasis":"UNIT","principalCustodian":{"bic":"PARBFRPPXXX"},"custodians":[{"bic":"OCSDATWWXXX","settlementEligibility":true,"bpId":"AT100042","name":"OEKB CSD GMBH","participantId":"OCSDATWWXXX","externalOrdinarioAccount":"244000","settlementEligibilityNotes":"ATF:ATF NOT APPLICABLE IN THIS MARKET","bookingBasis":"UNIT","marketGuides":[{"marketName":"Austria","url":"https://sws.six-group.com/private/en/home/market-guide/overview/austria-oekb.html"}]},{"bic":"DAKVDEFFXXX","settlementEligibility":true,"bpId":"DE100408","name":"CLEARSTREAM BANKING AG","participantId":"7121","accountT2S":"DAKV7121000","externalOrdinarioAccount":"71210000","settlementEligibilityNotes":"ATF:ATF NOT APPLICABLE IN THIS MARKET","bookingBasis":"UNIT","marketGuides":[{"marketName":"Germany","url":"https://sws.six-group.com/private/en/home/market-guide/overview/germany-cbf.html"}]}]}}}}}}}},"Http204NoContent":{"description":"No Content","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/vnd.api+json":{}}},"Http200Subscription":{"description":"The list of securities a business partner is subscribed to for the bulk service.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/vnd.api+json":{"schema":{"$ref":"#/components/schemas/ResponseSubscriptionQuery"},"examples":{"200 Subscription":{"value":{"data":{"id":"95b1b467-bd69-4436-8181-96c16408c230","type":"Subscription","attributes":{"subscription":["US0378331005","US5949181045","CH0038863350","CH0025751329","CH0012221716","US5949181045","US9311421039","GB00BP6MXD84","INF277K01MZ6","KR7319400008"]}}}}}}}},"Http200BasicSettlementInfoFile":{"description":"The basic settlement information for all securities defined in the business partner's subscription.\n\nThe format of the file is given by the type 'ResponseSubscriptionBasicSettlementInfoQuery'; see 'SampleResultsFileContents' as an example.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/gzip":{"schema":{"type":"string","format":"binary"}}}},"Http304NotModified":{"description":"Not Modified","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"ETag":{"$ref":"#/components/headers/ETag"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/vnd.api+json":{}}},"Http400ErrorResponse_GetSubscription":{"description":"Bad Request","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error400"},"examples":{"400 Bad Request - Invalid header parameter":{"$ref":"#/components/examples/Error400_InvalidHeaderParam"}}}}},"Http400ErrorResponse_GetResults":{"description":"Bad Request","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error400"},"examples":{"400 Bad Request - Invalid header parameter":{"$ref":"#/components/examples/Error400_InvalidHeaderParam"}}}}},"Http400ErrorResponse_DetailedQuery":{"description":"Bad Request","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error400"},"examples":{"400 Bad Request - Invalid ISIN":{"$ref":"#/components/examples/Error400_InvalidPathParam"},"400 Bad Request - Invalid header parameter":{"$ref":"#/components/examples/Error400_InvalidHeaderParam"}}}}},"Http400ErrorResponse_BulkSet":{"description":"Bad Request","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error400"},"examples":{"400 Bad Request - Invalid content in request body":{"$ref":"#/components/examples/Error400_SubscriptionWithInvalidIsins"},"400 Bad Request - Subscription too big":{"$ref":"#/components/examples/Error400_SubscriptionTooBig"},"400 Bad Request - Invalid header parameter":{"$ref":"#/components/examples/Error400_InvalidHeaderParam"}}}}},"Http400ErrorResponse_AddIsin":{"description":"Bad Request","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error400"},"examples":{"400 Bad Request - Subscription too big":{"$ref":"#/components/examples/Error400_SubscriptionTooBig"},"400 Bad Request - Invalid ISIN":{"$ref":"#/components/examples/Error400_InvalidPathParam"},"400 Bad Request - Invalid header parameter":{"$ref":"#/components/examples/Error400_InvalidHeaderParam"}}}}},"Http400ErrorResponse_RemoveIsin":{"description":"Bad Request","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error400"},"examples":{"400 Bad Request - Invalid ISIN":{"$ref":"#/components/examples/Error400_InvalidPathParam"},"400 Bad Request - Invalid header parameter":{"$ref":"#/components/examples/Error400_InvalidHeaderParam"}}}}},"Http401ErrorResponse":{"description":"Unauthorized","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"401 Unauthorized - no certificate provided":{"value":{"message":"No required TLS certificate was sent"}},"401 Unauthorized - invalid certificate (no trust in certificate)":{"value":{"message":"TLS certificate failed verification"}},"401 Unauthorized - not authorized (wrong client credentials)":{"value":{"message":"Unauthorized"}}}}}},"Http403ErrorResponse":{"description":"Forbidden","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"403 Forbidden":{"value":{"message":"Forbidden"}}}}}},"Http404ErrorResponse_NoIsin":{"description":"Not Found","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"404 Not Found":{"value":{"message":"Resource not found","errorDetail":{"title":"Not Found","status":404,"detail":"ISIN 'US012071998' does not exist."}}}}}}},"Http404ErrorResponse_NoResults":{"description":"Not Found","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"404 Not Found":{"value":{"message":"no Route matched with those values","errorDetail":{"title":"Not Found","status":404,"detail":"Bulk subscription results not available."}}}}}}},"Http413ErrorResponse":{"description":"Content Too Large","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGwError"},"examples":{"413 Content Too Large":{"value":{"message":"Request size limit exceeded"}}}}}},"Http429ErrorResponse":{"description":"Too Many Requests","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"RateLimit-Limit":{"$ref":"#/components/headers/RateLimit-Limit"},"RateLimit-Remaining":{"$ref":"#/components/headers/RateLimit-Remaining"},"RateLimit-Reset":{"$ref":"#/components/headers/RateLimit-Reset"},"Retry-After":{"$ref":"#/components/headers/Retry-After"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGwError"},"examples":{"429 Too Many Requests":{"value":{"message":"API rate limit exceeded"}}}}}},"Http500ErrorResponse":{"description":"Internal Server Error","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"500 Internal Server Error":{"value":{"message":"Server error","errorDetail":{"title":"Internal Server Error","status":500,"detail":"Something went wrong."}}}}}}},"Http501ErrorResponse":{"description":"Not Implemented","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"examples":{"501 Not Implemented":{"value":{"message":"Not implemented","errorDetail":{"title":"Not Implemented","status":501,"detail":"This API endpoint is not yet implemented."}}}}}}},"Http503ErrorResponse":{"description":"Service Unavailable","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGwError"},"examples":{"503 Service Unavailable":{"value":{"message":"unavailable"}}}}}},"Http504ErrorResponse":{"description":"Gateway Timeout","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiGwError"},"examples":{"504 Service Unavailable":{"value":{"message":"The upstream server is timing out."}}}}}}},"parameters":{"SecurityID":{"name":"isin","in":"path","description":"Identifier of the security.","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/Isin"},"example":"CH0038863350"},"CorrelationId":{"name":"X-Correlation-Id","in":"header","description":"Correlation identifier for the request","required":false,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/XCorrelationIdType"},"examples":{"As generated by client":{"value":"ef199b05-d1ff-4a2b-b5ef-2bb3ab3f0820"},"As generated by API GW":{"value":"ef199b05-d1ff-4a2b-b5ef-2bb3ab3f0820#23"}}},"IfNoneMatch":{"name":"If-None-Match","in":"header","description":"The RFC7232 If-None-Match header field in a request requires the server to only operate on the resource if it does not match any of the provided entity-tags. If the provided entity-tag is `*`, it is required that the resource does not exist at all.","required":false,"style":"simple","explode":false,"schema":{"type":"string"},"example":"7da7a728-f910-11e6-942a-68f728c1ba70"}},"examples":{"Error400_InvalidHeaderParam":{"value":{"message":"header \"X-Correlation-ID\" validation failed with error: \"failed to match pattern \"^[0-9A-Fa-f]{8}-?[0-9A-Fa-f]{4}-?4[0-9A-Fa-f]{3}-?[89ABab][0-9A-Fa-f]{3}-?[0-9A-Fa-f]{12}\" with \"\""}},"Error400_InvalidPathParam":{"value":{"message":"path \"isin\" validation failed with error: \"failed to match pattern \"^[A-Z]{2}([A-Z0-9]){9}[0-9]$\" with \"CH003886335\""}},"Error400_SubscriptionWithInvalidIsins":{"value":{"message":"Validation failed","errorDetail":{"title":"Bad Request","status":400,"detail":"Subscription request contains the following invalid ISIN(s): 'DE000SD4J14', 'CH104032437', 'CH055341828'."}}},"Error400_SubscriptionTooBig":{"value":{"message":"Validation failed","errorDetail":{"title":"Bad Request","status":400,"detail":"Subscription is limited to 400'000 financial instruments, cannot set it larger."}}},"SampleResultsFileContents":{"value":{"meta":{"bpId":"CH123456","timestamp":"2023-01-31T05:00:00.594Z"},"data":[{"id":"581f5d3e-3eba-4b0d-bca4-7b7863538206","type":"BasicSettlementDetails","attributes":{"isin":"US0378331005","limitedPartnership":false,"lowPriceSecurity":false,"inHouseEligibility":true,"t2sEligibility":false,"marketSegregated":true,"sdrt":{"eligibilityCrossBorder":false,"eligibilityInHouse":false,"inhouseForbidden":false},"bookingBasis":"UNIT","principalCustodian":{"bic":"CITIUS33XXX"},"custodians":[{"bic":"MELNUS3PGSS","settlementEligibility":true,"marketSegregationCode":"NO"},{"bic":"MELNUS3PGSS","settlementEligibility":true,"marketSegregationCode":"NO","sdrtCountry":["CH"]}]}},{"id":"b93b432d-5bb7-4afc-bcea-9ac5e7ba7648","type":"BasicSettlementDetails","attributes":{"isin":"US5949181045","limitedPartnership":false,"lowPriceSecurity":false,"inHouseEligibility":true,"t2sEligibility":false,"marketSegregated":true,"sdrt":{"eligibilityCrossBorder":false,"eligibilityInHouse":false,"inhouseForbidden":false},"bookingBasis":"UNIT","principalCustodian":{"bic":"CITIUS33XXX"},"custodians":[{"bic":"DAKVDEFFXXX","settlementEligibility":true,"marketSegregationCode":"NO"},{"bic":"HSBCHKHHSEC","settlementEligibility":true,"marketSegregationCode":"HK"}]}}]}}},"headers":{"X-Correlation-Id":{"description":"Correlation identifier of the original request.","style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/XCorrelationIdType"},"examples":{"As generated by client":{"value":"ef199b05-d1ff-4a2b-b5ef-2bb3ab3f0820"},"As generated by API GW":{"value":"ef199b05-d1ff-4a2b-b5ef-2bb3ab3f0820#23"}}},"ETag":{"description":"Identifier of the current version of the resource.","style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/ETag"},"example":"\"A39AC1BFFADB215999106EC2B74AAA\""},"RateLimit-Limit":{"description":"Provides the the requests quota in the time window (i.e., the maximal number of acceptable requests for the client within the time window).\nSee the 'RateLimit Header Fields for HTTP' (https://datatracker.ietf.org/doc/html/draft-polli-ratelimit-headers-01) for more information.","style":"simple","explode":false,"schema":{"minimum":0,"type":"integer"},"example":10},"RateLimit-Remaining":{"description":"Provides the remaining requests quota in the current time window (for the specific client).\nSee the 'RateLimit Header Fields for HTTP' (https://datatracker.ietf.org/doc/html/draft-polli-ratelimit-headers-01) for more information.","style":"simple","explode":false,"schema":{"minimum":0,"type":"integer"},"example":1},"RateLimit-Reset":{"description":"Indicates the number of seconds until the quota resets.\nSee the 'RateLimit Header Fields for HTTP' (https://datatracker.ietf.org/doc/html/draft-polli-ratelimit-headers-01) for more information.","style":"simple","explode":false,"schema":{"minimum":0,"type":"integer"},"example":50},"Retry-After":{"description":"Indicates the number of seconds the client ought to wait before making a follow-up request.\nSee RFC7231, §7.1.3 (https://datatracker.ietf.org/doc/html/rfc7231#section-7.1.3).\n*Note: might be higher than 'RateLimit-Reset'.*","style":"simple","explode":false,"schema":{"minimum":0,"type":"integer"},"example":50}}}}